/* 1599px css */
@media only screen and (max-width: 1599px) {}

/* 1429px css */
@media only screen and (max-width: 1429px) {

    .twin-blue h1,
    .twin-white h1 {
        font-size: 1.7rem;
    }

    .twin-container {
        min-height: auto;
    }

    .twin-blue {
        padding: 3.725rem 3.025rem;
    }

    .fourbox-container {
        padding: 7rem 3.125rem 4rem 3.125rem;
    }

    .fourbox-copy p {
        font-size: 1.15rem;
    }

    .fourbox-copy h1 {
        font-size: 1.8rem;
    }
}

/* 1199px css */
@media only screen and (max-width: 1199px) {
    .landing-text h1 {
        font-size: 2.6rem;
        line-height: 3.5rem;
    }

    .landing-text p {
        font-size: 1.3rem;
        line-height: 2.2rem;
    }

    .twin-blue h1,
    .twin-white h1 {
        line-height: 2.8rem;
        font-size: 1.5rem;
    }

    .fourbox-container {
        padding: 5rem 3.125rem 3rem 3.125rem;
    }

    .fourbox-copy p {
        line-height: 1.8rem;
    }

    .content-box-text {
        padding: 0 50px;
    }

    .content-box-text h1 {
        font-size: 2.6rem;
        line-height: 3rem;
    }

    .services-title h1 {
        font-size: 2rem;
        line-height: 2.8rem;
    }

    #drug-formulation,
    #technology-transfer,
    #services-wrapper {
        padding: 80px 0 0 0;
    }

    .sticky-card {
        padding: 1.4rem;
        border-radius: 1.275rem;
    }

    .normal-media {
        height: 280px;
    }

    .about-content img {
        height: 450px;
        width: 100%;
    }

    .about-content {
        width: 100%;
        padding-bottom: 30px;
    }

    .about-img {
        max-width: 600px;
        margin: 0 auto;
    }

    .about-text h2 {
        padding-bottom: 1rem;
    }

    .large-media {
        height: 54vw;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .large-text {
        position: relative;
        transform: none;
        top: 0;
        left: 0;
    }

    .space-hidden {
        height: 54vw;
        width: 100%;
    }

    .large-container {
        flex-wrap: wrap;
    }

    .large-container-box {
        transform: none;
        margin: 20px 0 30px;
    }

    .large-container-box h1,
    .large-container-box p {
        width: 100%;
        max-width: 700px;
    }

    #center-wrapper {
        padding: 60px 0 0 0;
    }

    .center-text {
        padding: 0 20px 40px 20px;
    }

    .team-img {
        width: 180px;
        margin: 0 auto;
    }

    .team-member {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .team-btn {
        margin: 10px 0 40px;
    }

    .career-container {
        padding: 50px 50px;
    }

    .career-content {
        padding-top: 60px;
    }

    .contact-text {
        padding: 20px 0;
    }

    .center-text h1 {
        font-size: 2.2rem;
        line-height: 2.8rem;
    }

    .large-container-box h1 br {
        display: none;
    }

    .blog-img img {
        height: 250px;
    }

    .blog-title {
        padding: 1rem 1.75rem 0 1.75rem;
        height: auto;
    }

    .blog-title h1 {
        font-size: 1.1rem;
        line-height: 1.7rem;
    }

    .blog-text {
        padding: 1rem 1.75rem 0 1.75rem;
        height: auto;
    }

    .blog-text p {
        font-size: 0.9rem;
        line-height: 1.6rem;
    }

    .blog-btn {
        margin: 1.75rem;
    }
}

/* 991px css */
@media only screen and (max-width: 991px) {
    .nav-links {
        width: 550px;
    }

    .landing-text h1,
    .landing-text p {
        width: 100%;
    }

    .video-content {
        object-position: 80%;
    }

    .twin-blue,
    .twin-white {
        padding: 2.2rem;
    }

    .fourbox-content {
        width: 100%;
    }

    .media-space {
        width: 100%;
    }

    .video-content-small {
        width: 100%;
        max-width: 520px;
        height: 340px;
        margin: 0 auto;
    }

    .copy-content {
        width: 100%;
    }

    .group-copy {
        padding-bottom: 3rem;
        position: relative;
        transform: none;
        width: 100%;
    }

    .group-wrapper {
        padding-top: 3rem;
    }

    .holder-blank {
        padding-bottom: 4rem;
        padding-top: 0;
    }

    .holder-color {
        padding-top: 0;
        padding-bottom: 5rem;
    }

    .group-media {
        justify-content: center;
    }

    .twitter-items {
        right: 0;
        top: 0;
        margin-bottom: 30px;
    }

    .footer-left {
        margin-bottom: 30px;
        flex-wrap: wrap;
        width: 100%;
    }

    .footer-left br {
        display: none;
    }

    .footer-logo {
        display: block;
        margin-bottom: 20px;
    }

    .footer-top {
        align-items: flex-start;
        padding: 20px 0;
    }

    .footer-right {
        width: 100%;
    }

    .footer-bottom {
        padding: 20px 0;
    }

    .footer-left {
        margin-bottom: 0;
    }

    .media-content {
        width: 100%;
        max-width: 210px;
    }

    .tab-half {
        width: 100%;
        margin-bottom: 30px;
    }

    .blog-post {
        width: calc(50% - 1.5rem);
    }

    .register-content-box h1 {
        font-size: 1.4rem;
        line-height: 2.2rem;
    }

    .register-content {
        width: 100%;
        margin-bottom: 30px;
    }

    .register-container {
        flex-wrap: wrap;
        padding: 130px 50px 30px;
    }

    .register-generator-btn {
        position: relative;
        top: 0;
        left: 0;
    }

    .drug-card {
        width: 100%;
    }
}

/* 767px css */
@media only screen and (max-width: 767px) {
    .m-block {
        display: block;
    }

    .nav-links {
        height: 110vh;
        top: 0;
        right: 0;
        z-index: 0;
        width: 300px;
        position: fixed;
        display: flex;
        transition: all 1s;
        padding: 70px 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #fdfaf3;
        transform: translateX(100%);
    }

    .logo {
        z-index: 1;
    }

    .nav-link {
        height: auto;
        text-align: center;
        padding-bottom: 22px;
    }

    .nav-pc {
        height: auto;
        padding: 12px 50px;
    }

    #nav-hidden {
        height: auto;
    }

    .navbar {
        height: auto;
        background-color: #fdfaf3;
    }

    .nav-link a {
        line-height: initial;
    }

    .nav-btn {
        height: auto;
    }

    .twin-left {
        width: 100%;
    }

    .twin-right {
        width: 100%;
    }

    .twin-blue h1,
    .twin-white h1 {
        font-size: 1.3rem;
        line-height: 2.4rem;
    }

    .twin-blue,
    .twin-white {
        padding: 1.6rem 1.8rem;
    }

    .fourbox-container {
        padding: 3rem 2.5rem 1rem 2.5rem;
    }

    .fourbox-content {
        padding: 2.4rem;
        margin-bottom: 2.4rem;
        border-radius: 1.4rem;
    }

    .fourbox-copy p {
        font-size: 1rem;
    }

    .fourbox-copy {
        padding-top: 1.4rem;
    }

    .fourbox-copy h1 {
        font-size: 1.7rem;
        line-height: 2rem;
    }

    .copy-content p {
        line-height: 1.8rem;
        font-size: 1rem;
    }

    .media-content {
        max-width: 190px;
    }

    .copy-content h1 {
        font-size: 1.8rem;
        line-height: 2rem;
    }

    .group-wrapper {
        padding-top: 2rem;
    }

    .group-copy {
        padding-bottom: 2rem;
    }

    .news-form {
        height: 3rem;
    }

    .news-subscribe {
        width: 8rem;
    }

    .news-email {
        width: calc(100% - 8rem);
        padding-left: 1.4rem;
    }

    .newsletter-container {
        padding: 3rem 2.925rem;
    }

    .news-title {
        padding-bottom: 1.5rem;
    }

    .footer-top {
        border-top: 0;
    }

    #footer-wrapper {
        padding: 30px 0 0 0;
    }

    .footer-bottom .footer-left,
    .footer-bottom .footer-right {
        width: 100%;
        text-align: center;
    }

    .footer-bottom {
        padding: 10px 0;
    }

    .footer-items {
        padding-right: 0;
    }

    .menu-btn {
        display: flex;
        z-index: 9999;
        position: fixed;
        right: 20px;
        top: 14px;
    }

    .show-menu .nav-links {
        transform: translateX(0);
    }

    .drop-items {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }

    .show-menu .menu-btn span::before {
        transform: rotate(45deg);
        top: 0;
    }

    .show-menu .menu-btn span::after {
        top: 0;
        transform: rotate(-45deg);
    }

    #nav-shown {
        height: auto;
    }

    .services-title {
        padding: 0;
    }

    .services-title h1 {
        font-size: 1.6rem;
        line-height: 2rem;
    }

    #drug-formulation {
        flex-wrap: wrap;
    }

    .sticky-content {
        width: 100%;
    }

    #know-how {
        padding-top: 20px;
    }

    .team-column {
        width: 50%;
    }

    .team-member h2 {
        font-size: 1.175rem;
    }

    .team-btn {
        margin: 0 0 40px;
    }

    .center-text h1 {
        font-size: 1.8rem;
        line-height: 2.2rem;
    }

    .career-box {
        width: calc(50% - 20px);
        margin: 0 10px 20px 10px;
    }

    .career-content {
        justify-content: center;
    }

    .career-container {
        margin: 0 -10px;
    }

    .career-box h1 {
        padding-bottom: 0;
    }

    .contact-content {
        width: 100%;
    }

    .contact-map {
        height: 280px;
        border-radius: 0.8rem;
    }

    .contact-input {
        border-radius: 14px;
    }

    .contact-msg {
        border-radius: 18px;
    }

    .contact-info {
        padding: 20px 20px 20px 60px;
    }

    .contact-img {
        left: 22px;
        top: 25px;
    }

    .contact-box {
        border-radius: 0.8rem;
    }

    .contact-container {
        padding: 20px 40px 70px 40px;
    }

    .blog-post {
        width: 100%;
        margin: 0 0 30px 0;
    }

    #blog-wrapper {
        padding-top: 6rem;
        padding-bottom: 0.5rem;
    }

    .blog-container {
        padding: 0 2rem;
    }

    .generator-filter-wrap {
        width: 100%;
    }

    .generator-btns {
        width: 100%;
    }

    .generator-navbar {
        height: auto;
        top: 56px;
    }

    #generator-wrapper {
        padding: 15rem 0 8rem 0;
    }

    .generator-filter {
        height: auto;
    }

    .filter-click {
        margin-top: 0;
    }

    .generator-container {
        padding: 10px 50px;
    }

    .generator-search input {
        padding: 12px 26px;
    }

    .dashboard-btns {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .userbody {
        width: 100%;
    }

    .dashboard {
        flex-wrap: wrap;
        height: auto;
    }

    .userbtn {
        width: auto;
        padding: 0.9rem 1.5rem;
    }


    .checkout-content {
        width: 100%;
        margin-bottom: 30px;
    }

    .checkout-container {
        flex-wrap: wrap;
    }

    .footer-icons {
        margin-top: 4px;
        margin-bottom: 30px;
    }

    .letter-item-wrap {
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 9;
    }

    .terms-container {
        padding: 0;
    }

    #register-modal h2 {
        font-size: 20px;
        margin: 0 0 20px;
        padding: 0;
    }
}

/* 575px css */
@media only screen and (max-width: 575px) {

    .landing-text h1,
    .landing-text p {
        padding-right: 0;
    }

    .landing-text h1 {
        font-size: 2.0rem;
        line-height: 2.8rem;
    }

    .landing-text p {
        font-size: 1.1rem;
        line-height: 1.7rem;
    }

    .landing-btn {
        width: 60px;
        height: 60px;
    }

    .video-content {
        height: auto;
        position: absolute;
        bottom: -5rem;
        left: 0;
        width: 800px;
        z-index: 9;
        transform: translateX(-36%);
    }

    .landing-text-container {
        position: relative;
        transform: none;
        top: 0;
        left: 0;
        padding: 100px 0 250px 0;
        background-color: #fdfaf3;
    }

    .landing-text {
        transform: none;
        padding: 0 30px;
        top: 0;
        z-index: 9;
    }

    .nav-pc {
        padding: 15px 30px;
    }

    .nav-link a {
        font-size: 1.7rem;
    }

    .generator a {
        font-size: 1.7rem;
        line-height: 2rem;
        padding: 8px 1.8rem;
    }

    .twin-blue h1,
    .twin-white h1 {
        font-size: 1.2rem;
        line-height: 2rem;
    }

    .fourbox-container {
        padding: 2rem 1.6rem 1rem 1.6rem;
    }

    .fourbox-content {
        padding: 1.8rem;
        margin-bottom: 1.8rem;
    }

    .holder-color {
        padding-bottom: 3rem;
    }

    .video-content-small {
        height: 260px;
        border-radius: 1rem;
    }

    .group-container {
        padding: 0 30px;
    }

    .media-content {
        max-width: 180px;
    }

    .footer-container {
        padding: 0 20px;
    }

    .footer-items a {
        margin-top: 0.4rem;
        font-size: 0.9rem;
        line-height: 1.2rem;
    }

    .footer-items p {
        font-size: 0.9rem;
    }

    .fourbox-copy p {
        padding-top: 0.8rem;
        line-height: 1.6rem;
        font-size: 0.95rem;
    }

    .news-title h1 {
        font-size: 1.6rem;
        line-height: 2rem;
    }

    #full-wrapper {
        height: 480px;
    }

    .dark-bg-btn {
        bottom: 1.5rem;
    }

    .content-box-text {
        padding: 0 30px;
    }

    .content-box-text h1 {
        font-size: 2.2rem;
        line-height: 2.8rem;
    }

    #drug-formulation,
    #technology-transfer,
    #services-wrapper {
        padding: 50px 0 0 0;
    }

    .sticky-card {
        padding: 1rem;
        border-radius: 0.975rem;
    }

    .sticky-title h1 {
        font-size: 1.075rem;
        line-height: 1.6rem;
    }

    .sticky-content video {
        border-radius: 1.575rem;
        margin-bottom: 0;
    }

    .sticky-text {
        margin: 20px 0;
    }

    .sticky-text p {
        font-size: 0.9rem;
        line-height: 1.3rem;
        margin-bottom: 10px;
    }

    .sticky-text h2 {
        font-size: 1.3rem;
        line-height: 1.45rem;
        border-radius: 14px;
    }

    .sticky-text h3 {
        font-size: 1.2rem;
    }

    #drug-manufacturing {
        padding-top: 20px;
    }

    .full-container .video-content {
        position: relative;
        width: 100%;
        height: 100%;
        transform: none;
        object-fit: cover;
        bottom: 0;
        left: 0;
    }

    .about-content {
        padding-bottom: 0;
    }

    .about-text p {
        font-size: 0.9rem;
        line-height: 1.8rem;
    }

    .about-container {
        padding: 90px 30px 10px 30px;
    }

    .about-content img {
        height: 350px;
    }

    .large-container-box {
        padding: 0 30px;
    }

    .team-img {
        width: 150px;
    }

    .center-container {
        padding: 0 30px;
    }

    .team-content {
        padding: 0 10px;
    }

    .career-box {
        width: 100%;
    }

    .tab {
        margin-bottom: 20px;
        height: 46px;
    }

    #tabs {
        margin-bottom: 0;
    }

    .form__row_2 {
        width: 100%;
    }

    .form__input {
        margin-bottom: 22px;
        height: 45px;
        padding: 0 1rem;
    }

    .social-register-btn {
        width: 100%;
        margin-top: 20px;
    }

    .form__placeholder {
        top: 14px;
        left: 1.6rem;
    }

    .register-content-box h1 {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }

    .register-content {
        padding: 30px;
    }

    .generator-container {
        padding: 10px 20px;
    }

    .team-btn p {
        padding-left: 1rem;
        line-height: 50px;
    }

    .team-btn {
        height: 50px;
    }

    .team-plus {
        margin-top: 1.2rem;
        right: 1.3rem;
    }

    .user-container {
        padding: 0 20px;
    }

    .purchase-info {
        width: 100%;
    }

    .checkout-container {
        padding: 0 20px;
    }

    .checkout-content {
        padding: 20px;
    }

    .drug-list-scroll {
        margin-bottom: -40px;
        margin-top: 2rem;
    }

    .form-control {
        margin-bottom: 1rem;
    }

    .register-container {
        padding: 100px 20px 10px;
    }

    a.social-register-btn {
        line-height: 45px;
        height: 45px;
    }

    .social-register-btn img {
        margin-top: 14px;
    }

    .register-content {
        padding: 20px;
    }

    #tab-wrapper {
        padding: 6rem 0 2rem;
    }

    .tab-container {
        padding: 0 30px;
    }

    .tab-title h1 {
        font-size: 1.15rem;
        line-height: 1.8rem;
    }

    .pricing-box {
        padding: 1.45rem 0;
    }

    .list-expand h2 {
        font-size: 1rem;
        line-height: 1.5rem;
        padding: 0.8rem 4rem 0.8rem 1.25rem;
    }

    .tab-list h1 {
        font-size: 1.15rem;
        line-height: 1.55rem;
        padding: 1rem 1.25rem;
    }

    .tab-header h2 {
        font-size: 0.95rem;
        line-height: 1.55rem;
    }

    .tabs,
    .tab-pricing {
        border-radius: 15px;
        padding: 1.2rem 1.25rem 0 1.25rem;
    }

    .pricing-btn,
    .subscribe-btn {
        font-size: 0.925rem;
        padding: 0.55rem 1.3rem;
    }

    .pricing-text h1 {
        line-height: 1.1rem;
        padding-right: 6rem;
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
    }

    .pricing-text p {
        font-size: 0.8rem;
        line-height: 1rem;
    }

    .pricing-icon {
        width: 2.65rem;
        height: 2.65rem;
        border-radius: 0.7rem;
    }

    .pricing-icon img {
        width: 1.2rem;
        height: 1.2rem;
    }

    .list-plus {
        top: 1.05rem;
        right: 1rem;
    }

    .tab-header {
        padding: 0 1rem 1rem;
    }

    .tab-list h3 {
        padding: 0.4rem 1.25rem;
        font-size: 1rem;
    }

    .pricing-btn,
    .subscribe-btn {
        padding: 0.45rem 0.9rem;
        font-size: 0.725rem;
    }

    .tab-header h1 {
        line-height: 1.6rem;
        margin-bottom: 0.5rem;
    }

    .list-info p {
        padding: 0.7rem 1.25rem;
        line-height: 1.5rem;
    }

    .pricing-text {
        padding-left: 3.2rem;
    }

    #html_element {
        transform: scale(0.9);
        transform-origin: 0% 0%;
    }

    .contact-input {
        width: 100%;
        height: 50px;
        border-radius: 10px;
        padding: 0 1.2rem;
        margin-bottom: 20px;
    }

    .contact-text h1,
    .career-text h1 {
        font-size: 1.9rem;
        line-height: 2.2rem;
    }

    .message-content {
        margin-top: 10px;
    }

    .contact-container {
        padding: 20px 20px 40px 20px;
    }

    .team-column {
        width: 100%;
    }

    .about-img {
        margin-bottom: 20px;
    }

    .services-title h1 {
        font-size: 1.4rem;
        line-height: 1.6rem;
    }

    .letter-item-wrap {
        position: fixed;
        right: 20px;
        z-index: 9;
        margin-top: 0;
        top: 130px;
        width: calc(100% - 40px);
    }

    .letter-items {
        min-width: 100%;
    }

    .letterbtn {
        height: 36px;
    }

    .blog-page-container {
        padding: 0 2rem;
    }

    .nav-links {
        width: 100%;
    }

    .sticky-bullet img {
        margin-top: 2px;
    }

    .blog-content-title h1 {
        font-size: 1.2rem;
        line-height: 2rem;
    }

    .blog-content-text p {
        font-size: 0.9rem;
        line-height: 1.7rem;
        padding: 1rem 1.25rem 0 1.25rem;
    }

    .blog-content-title {
        padding: 1.25rem 0;
        margin: 0 1.25rem;
    }

    .company-img {
        height: 52vw;
        margin-top: 20px;
        border-radius: 12px;
    }

    .user-info {
        width: 100%;
        padding: 10px 0;
    }

    .user-info p {
        padding-bottom: 20px;
    }

    .user-info h5 {
        border-radius: 10px;
    }

    .userbody {
        justify-content: flex-start;
    }

    #register-modal .pop-up-content {
        padding: 10px;
    }

    #register-modal p {
        font-size: 0.85rem;
        line-height: 1.3rem;
        padding-bottom: 0;
        margin-bottom: 12px;
    }

    #register-modal h4 {
        line-height: 1.4;
        font-size: 0.9rem;
        font-weight: 700;
    }

    .drug-info-right {
        width: 50%;
    }

    .drug-info-left {
        width: 50%;
    }

    .drug-name {
        margin: 0 1rem;
    }

    .drug-name h1 {
        padding: 1rem 0;
    }

    .checkout-drug-card {
        border-radius: 1.2rem;
    }

    .selected-checkbox-icon {
        top: 1.5rem;
        right: 1.5rem;
    }

    #strengh,
    #code {
        font-size: 0.8rem;
        line-height: 1.3rem;
    }

    #dosage,
    #route {
        font-size: 0.9rem;
        padding: 1rem 1rem 0.5rem 1rem;
    }

    .pay_option_box {
        padding: 0;
    }

    .pay_option_box div::before {
        display: none;
    }

    .pay_option_box div {
        text-align: center;
        padding: 10px 0;
    }

    .pay_option_box input:checked+div {
        background-color: rgb(0 192 255 / 0.6);
    }

    #checkout-wrapper {
        padding: 100px 0 0;
    }

    .content-box-2 h1,
    .checkout-content-box h1 {
        font-size: 0.925rem;
        line-height: 50px;
    }

    #payment-form {
        margin-top: 2rem;
    }

    .content-box-2,
    .checkout-content-box {
        height: 50px;
    }

    .form-control {
        margin-top: 0.4rem;
    }

    .drug-name .checkbox-icon {
        top: 1.25rem;
    }

    .tab-links {
        margin: 0 -20px;
        width: calc(100% + 40px);
    }

    .tab-half {
        margin: 0 0 30px;
        width: calc(100% + 60px);
    }

    .drug-card {
        border-radius: 0.975rem;
    }

    .logout-btn {
        display: block;
        padding-bottom: 1.8rem;
    }

    .logout-btn a {
        color: #000;
        text-decoration: none;
        font-family: 'SofiaPro-regular';
        font-size: 1.6rem;
    }

    .dashboard-btns button {
        width: 100%;
        text-align: center;
    }

    .dashboard-btns {
        justify-content: space-between;
    }
}

/* 480px css */
@media only screen and (max-width: 480px) {
    .video-content {
        transform: translateX(-44%);
    }

    .letter-items {
        min-width: 100%;
    }

    .letterbtn {
        height: 28px;
        font-size: 10px;
    }

    .userbtn {
        font-size: 14px;
        padding: 0.9rem 1rem;
    }

    .pop-up-content .logo svg {
        height: 80px !important;
        width: 220px !important;
        margin-top: -35px !important;
    }

    .terms-container p.inner {
        margin-left: 15px;
    }

    .verify-sec {
        padding: 0 30px;
        margin: 90px auto 30px;
    }

    .verify-sec .card-body {
        font-size: 16px;
    }

    #privacy-wrapper {
        padding: 80px 0;
    }

    .privacy-container {
        padding: 0 20px;
    }

    .privacy-container h2,
    .privacy-container h4 {
        font-size: 1.25rem;
        line-height: 1.75rem;
        padding-bottom: 0.8rem;
    }

    .privacy-container p {
        padding-bottom: 1.2rem;
        font-size: 0.9rem;
        line-height: 1.3rem;
    }

    .privacy-container p.inner {
        margin-left: 12px;
    }
}

/* 375px css */
@media only screen and (max-width: 375px) {
    .letter-items {
        min-width: 335px;
    }
}

/* 350px css */
@media only screen and (max-width: 350px) {
    .letter-items {
        min-width: 310px;
    }
}