@import url("//hello.myfonts.net/count/3c1015");

@font-face {
    font-family: 'SofiaPro-Regular';
    src: url('fonts/sofia/SofiaPro-Regular/font.woff2') format('woff2'), url('webFonts/SofiaPro-Regular/font.woff') format('woff');
}

@font-face {
    font-family: 'SofiaPro-Bold';
    src: url('fonts/sofia/SofiaPro-Bold/font.woff2') format('woff2'), url('webFonts/SofiaPro-Bold/font.woff') format('woff');
}

@font-face {
    font-family: 'SofiaPro-Light';
    src: url('fonts/sofia/SofiaPro-Light/font.woff2') format('woff2'), url('webFonts/SofiaPro-Light/font.woff') format('woff');
}


/*
@font-face {
    font-family: 'geomanistblack';
    src: url('fonts/geomanist/geomanist-black-webfont.eot');
    src: url('fonts/geomanist/geomanist-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/geomanist/geomanist-black-webfont.woff2') format('woff2'),
         url('fonts/geomanist/geomanist-black-webfont.woff') format('woff'),
         url('fonts/geomanist/geomanist-black-webfont.ttf') format('truetype'),
         url('fonts/geomanist/geomanist-black-webfont.svg#geomanistregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'geomanistbold';
    src: url('fonts/geomanist/geomanist-bold-webfont.eot');
    src: url('fonts/geomanist/geomanist-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/geomanist/geomanist-bold-webfont.woff2') format('woff2'),
         url('fonts/geomanist/geomanist-bold-webfont.woff') format('woff'),
         url('fonts/geomanist/geomanist-bold-webfont.ttf') format('truetype'),
         url('fonts/geomanist/geomanist-bold-webfont.svg#geomanistregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geomanistbook';
    src: url('fonts/geomanist/geomanist-book-webfont.eot');
    src: url('fonts/geomanist/geomanist-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/geomanist/geomanist-book-webfont.woff2') format('woff2'),
         url('fonts/geomanist/geomanist-book-webfont.woff') format('woff'),
         url('fonts/geomanist/geomanist-book-webfont.ttf') format('truetype'),
         url('fonts/geomanist/geomanist-book-webfont.svg#geomanistregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'geomanistthin';
    src: url('fonts/geomanist/geomanist-thin-webfont.eot');
    src: url('fonts/geomanist/geomanist-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/geomanist/geomanist-thin-webfont.woff2') format('woff2'),
         url('fonts/geomanist/geomanist-thin-webfont.woff') format('woff'),
         url('fonts/geomanist/geomanist-thin-webfont.ttf') format('truetype'),
         url('fonts/geomanist/geomanist-thin-webfont.svg#geomanistregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'geomanistextralight';
    src: url('fonts/geomanist/geomanist-extralight-webfont.eot');
    src: url('fonts/geomanist/geomanist-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/geomanist/geomanist-extralight-webfont.woff2') format('woff2'),
         url('fonts/geomanist/geomanist-extralight-webfont.woff') format('woff'),
         url('fonts/geomanist/geomanist-extralight-webfont.ttf') format('truetype'),
         url('fonts/geomanist/geomanist-extralight-webfont.svg#geomanistregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'geomanistmedium';
    src: url('fonts/geomanist/geomanist-medium-webfont.eot');
    src: url('fonts/geomanist/geomanist-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/geomanist/geomanist-medium-webfont.woff2') format('woff2'),
         url('fonts/geomanist/geomanist-medium-webfont.woff') format('woff'),
         url('fonts/geomanist/geomanist-medium-webfont.ttf') format('truetype'),
         url('fonts/geomanist/geomanist-medium-webfont.svg#geomanistregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'geomanistultra';
    src: url('fonts/geomanist/geomanist-ultra-webfont.eot');
    src: url('fonts/geomanist/geomanist-ultra-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/geomanist/geomanist-ultra-webfont.woff2') format('woff2'),
         url('fonts/geomanist/geomanist-ultra-webfont.woff') format('woff'),
         url('fonts/geomanist/geomanist-ultra-webfont.ttf') format('truetype'),
         url('fonts/geomanist/geomanist-ultra-webfont.svg#geomanistregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'geomanistregular';
    src: url('fonts/geomanist/geomanist-regular-webfont.eot');
    src: url('fonts/geomanist/geomanist-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/geomanist/geomanist-regular-webfont.woff2') format('woff2'),
         url('fonts/geomanist/geomanist-regular-webfont.woff') format('woff'),
         url('fonts/geomanist/geomanist-regular-webfont.ttf') format('truetype'),
         url('fonts/geomanist/geomanist-regular-webfont.svg#geomanistregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: 0;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


html {
    background-color: #FDFBF3;
    overflow-x: hidden;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    scrollbar-width: 0;
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body::selection {
    background-color: transparent;
}

img::selection {
    background-color: transparent;
}

h1::selection {
    background-color: transparent;
    color: #FE5D38;
}

h2::selection {
    background-color: transparent;
    color: #FE5D38;
}

h3::selection {
    background-color: transparent;
    color: #FE5D38;
}

h4::selection {
    background-color: transparent;
    color: #FE5D38;
}

h5::selection {
    background-color: transparent;
    color: #FE5D38;
}

h6::selection {
    background-color: transparent;
    color: #FE5D38;
}

a::selection {
    background-color: transparent;
    color: #FE5D38;
}

p::selection {
    background-color: transparent;
    color: #FE5D38;
}

br::selection {
    background-color: transparent;
    color: #FE5D38;
}

span::selection {
    background-color: transparent;
    color: #FE5D38;
}

div::selection {
    background-color: transparent;
    color: #FE5D38;
}

div *::selection {
    background-color: transparent;
    color: #FE5D38;
}

::-webkit-scrollbar {
    width: 0;
}

#strengh::-webkit-scrollbar,
.userbody::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}


/*    BUTTONS    */

.center-btn {
    width: 11rem;
    margin: 0 auto;
    cursor: pointer;
    border: 1px solid #00C0FF;
    border-radius: 60px;
    transition: 0.3s;
    text-align: center;
    margin-top: 2rem;
    font-family: 'SofiaPro-regular';
    color: #00C0FF;
    font-size: 1rem;
    line-height: 60px;
    text-decoration: none;
    display: block;
}

body.hasHover .center-btn:visited {
    color: #00C0FF;
    background-color: transparent;
}

body.hasHover .center-btn:hover {
    color: #FDFBF3;
    background-color: #00C0FF;
}

.main-btn {
    width: 11rem;
    margin: 0 auto;
    cursor: pointer;
    border: 1px solid #00C0FF;
    border-radius: 60px;
    transition: 0.3s;
    text-align: center;
}

.main-btn a {
    font-family: 'SofiaPro-regular';
    color: #00C0FF;
    font-size: 1rem;
    line-height: 60px;
    text-decoration: none;
}

body.hasHover .main-btn:hover {
    background-color: #00C0FF;
}

body.hasHover .main-btn:visited a {
    color: #00C0FF;
}

body.hasHover .main-btn:hover a {
    color: #FDFBF3;
}

.normal-btn {
    font-family: 'SofiaPro-regular';
    color: #ffffff;
    font-size: 1rem;
    line-height: 60px;
    display: block;
    width: 10rem;
    background-color: #00c0ff;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
}

body.hasHover .normal-btn:visited {
    background-color: #00c0ff;
}

body.hasHover .normal-btn:hover {
    background-color: #2c3c49;
}




/*    Landing page    */

#landing-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #fffefb;
}

.landing-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.video-content {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    display: block;
}

.landing-text-container {
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.landing-text {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 50px;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

.landing-text h1 {
    font-family: 'SofiaPro-bold';
    font-weight: normal;
    width: 50%;
    color: #00C0FF;
    font-size: 3rem;
    line-height: 4rem;
    text-transform: none;
    text-align: left;
    padding-bottom: 1rem;
    padding-right: 1rem;
    word-break: break-all;
}

.landing-text p {
    font-family: 'SofiaPro-light';
    color: #00c0ff;
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
    text-align: left;
    width: 50%;
}

.landing-text span {
    font-family: 'SofiaPro-bold';
}

.landing-btn {
    display: block;
    position: relative;
    width: 70px;
    height: 70px;
    cursor: pointer;
    border: 1px solid rgba(0, 192, 255, 1);
    border-radius: 35px;
    transition: 0.3s;
}

.landing-btn img {
    position: absolute;
    display: block;
    width: 18px;
    height: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
}

.landing-btn:hover {
    border: 1px solid rgba(0, 192, 255, 0.5);
}

.landing-btn:hover img {
    width: 14px;
    height: 14px;
}

#blue-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #00C0FF;
    padding-bottom: 10rem;
}

.blue-container {
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
    padding: 120px 50px;
}

.blue-container h1 {
    font-family: 'SofiaPro-bold';
    font-weight: normal;
    color: #FDFBF3;
    font-size: 3rem;
    line-height: 4rem;
    font-style: normal;
    text-align: center;
}


/*    Swiper     */

.swiper-pagination {
    position: relative;
    text-align: center;
    transition: 0.3s opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
    margin-top: 5rem;
}

.swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    display: inline-block;
    border-radius: 100%;
    background: #F5F0E0;
    opacity: 1;
    margin: 0 0.5rem;
}

.swiper-pagination-bullet-active {
    width: 16px;
    height: 16px;
    display: inline-block;
    border-radius: 100%;
    background: #00C0FF;
    opacity: 1;
    margin: 0 0.5rem;
}

button.swiper-pagination-bullet {
    border: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}

#swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
    margin-top: -10rem;
}

.swiper-navigation {
    position: relative;
    display: none;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 100%;
    padding-left: 220px;
    padding-right: 220px;
    margin-bottom: 96px;
}

.swiper-navigation h1 {
    font-family: 'SofiaPro-bold';
    font-weight: normal;
    color: #1978FF;
    font-size: 2.625rem;
    font-weight: normal;
}

.swiper-btns {
    position: relative;
    width: 108px;
    height: 44px;
}

.swiper-button-prev {
    position: absolute;
    top: 0;
    left: 0;
    width: 44px;
    height: 44px;
    border-radius: 44px;
    margin-bottom: 1.75rem;
    border: 1px solid #bfd2f1;
}

.swiper-button-prev img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 14px;
    height: 12px;
    display: block;
}

.swiper-button-next {
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    border-radius: 44px;
    margin-bottom: 1.75rem;
    border: 1px solid #bfd2f1;
}

.swiper-button-next img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 14px;
    height: 12px;
    display: block;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none;
}

.swiper-wrapper {
    width: 100%;
    display: flex;
}

.swiper-container {
    overflow: hidden;
    position: relative;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 48px;
    height: 100%;
}

.swiper-slide {
    position: relative;
    width: 100%;
    flex-shrink: 0;
    transition-property: transform;
    background-color: #FDFBF3;
    border-radius: 1.875rem;
    border: 1px solid #e0e0e0;
    transition: 0.3s;
    min-width: 320px;
}

.swiper-slide:hover {
    box-shadow: 0 35px 40px 0px rgba(44, 60, 73, 0.1);
}

.slide-box {
    padding: 2.25rem 2rem;
}

.slide-icon {
    position: relative;
    width: auto;
    height: 50px;
}

.slide-icon img {
    width: auto;
    height: 100%;
    display: block;
}

.slide-number p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    color: #00C0FF;
}

.slide-text {
    position: relative;
}

.slide-text h1 {
    font-family: 'SofiaPro-regular';
    font-weight: normal;
    color: #2c3c49;
    font-size: 1.25rem;
    font-weight: normal;
    text-align: left;
    padding-top: 2rem;
    padding-bottom: 0.375rem;
    word-break: break-all;
}

.slide-text p {
    font-family: 'SofiaPro-light';
    color: #2c3c49;
    font-size: 1rem;
    line-height: 1.75rem;
    text-align: left;
    margin-bottom: 2.5rem;
    height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.swiper-btn {
    font-family: 'SofiaPro-regular';
    color: #ffffff;
    font-size: 1rem;
    line-height: 40px;
    display: block;
    width: 8rem;
    background-color: #00c0ff;
    border-radius: 40px;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
}

body.hasHover .swiper-btn:visited {
    background-color: #00c0ff;
}

body.hasHover .swiper-btn:hover {
    background-color: #2c3c49;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
    transform: translate3d(0px, 0, 0);
}

.swiper-container-multirow>.swiper-wrapper {
    flex-wrap: wrap;
}

.swiper-container-multirow-column>.swiper-wrapper {
    flex-wrap: wrap;
    flex-direction: column;
}

.swiper-container-free-mode>.swiper-wrapper {
    transition-timing-function: ease-out;
    margin: 0 auto;
}


/*      Landing - side-by-side      */

#normal-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 120px 0;
    background-color: #F6F4EC;
}

.normal-container {
    position: relative;
    max-width: 1024px;
    height: 100%;
    margin: 0 auto;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
}

.normal-media {
    object-fit: cover;
    height: 500px;
    display: block;
    width: calc(50% - 25px);
    border-radius: 1.875rem;
}

.normal-text {
    position: relative;
    width: calc(50% - 25px);
}

.double-container-box {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.double-container-box h1 {
    font-family: 'SofiaPro-bold';
    font-weight: normal;
    width: 100%;
    color: #2c3c49;
    font-size: 2rem;
    line-height: 3rem;
    font-style: normal;
    text-align: left;
    padding-bottom: 0.5rem;
}

.double-container-box p {
    font-family: 'SofiaPro-light';
    color: #2c3c49;
    font-size: 1rem;
    line-height: 1.75rem;
    padding-bottom: 2rem;
    padding-right: 1rem;
    text-align: left;
}


/*      Mac      */

#mac-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fdfbf3;
}

.mac-container {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    padding: 120px 50px;
}

.mac-container h1 {
    font-family: 'SofiaPro-bold';
    font-weight: normal;
    color: #2c3c49;
    font-size: 3rem;
    line-height: 4rem;
    padding: 0 150px 30px 150px;
    font-style: normal;
    text-align: center;
    letter-spacing: -1px;
}

.mac-media {
    width: 100%;
    padding-top: 60px;
}

.mac-media img {
    width: 100%;
    height: 100%;
    display: block;
}

.mac-btn {
    width: 9rem;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 30px;
    transition: 0.3s;
    text-align: center;
    margin-top: 2rem;
    font-family: 'SofiaPro-light';
    color: #ffffff;
    font-size: 1rem;
    line-height: 60px;
    text-decoration: none;
    background-color: #00c0ff;
    display: block;
}

body.hasHover .mac-btn:visited {
    background-color: #00c0ff;
}

body.hasHover .mac-btn:hover {
    background-color: #2c3c49;
}


/*    Full width videos    */

#full-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #0C1823;
}

.full-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.services-banner {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0.5;
}

.full-content-box {
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    z-index: 9;
    transform: translate(-50%, -50%);
    position: absolute;
}

.content-box-text {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 200px;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

.content-box-text h1 {
    font-family: 'SofiaPro-bold';
    font-weight: normal;
    width: 100%;
    color: #fdfbf3;
    font-size: 3rem;
    line-height: 4rem;
    text-transform: none;
    text-align: center;
}

.dark-bg-btn {
    position: absolute;
    display: block;
    cursor: pointer;
    left: 50%;
    z-index: 99;
    transform: translateX(-50%);
    transition: 0.3s;
    bottom: 3rem;
    text-decoration: none;
}

.btn-icon {
    position: relative;
    width: 60px;
    height: 60px;
    background-color: rgba(253, 251, 243, 0.2);
    border: 1px solid #fdfbf3;
    border-radius: 30px;
    transition: 0.3s;
}

.dark-bg-btn:hover .btn-icon {
    border: 1px solid rgba(253, 251, 243, 0);
}

.dark-bg-btn:hover .btn-icon img {
    width: 14px;
    height: 14px;
}

.btn-icon img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
    height: 18px;
    display: block;
    transition: 0.3s;
}


/*    Services    */

#services-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 120px 0 0 0;
    background-color: #FDFBF3;
}

.services-container {
    position: relative;
    max-width: 1024px;
    height: 100%;
    margin: 0 auto;
    padding: 0 30px 100px 30px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.services-title {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
    text-align: center;
}

.services-title h1 {
    font-family: 'SofiaPro-bold';
    font-weight: normal;
    color: #2c3c49;
    font-size: 2.5rem;
    line-height: 3.5rem;
    text-align: center;
}

#know-how {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 120px 0 0 0;
}

#drug-formulation {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 120px 0 0 0;
}

#drug-manufacturing {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 120px 0 0 0;
}

#technology-transfer {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 120px 0 0 0;
}

.sticky-content {
    width: calc(50% - 25px);
}

.sticky-card {
    top: 120px;
    position: sticky;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 2rem;
    border-radius: 1.875rem;
    border: 1px solid #e0e0e0;
    box-shadow: 0 40px 50px 0px rgba(44, 60, 73, 0.1);
    margin-bottom: 2rem;
}

.sticky-icon {
    width: 50px;
    height: 50px;
}

.sticky-icon img {
    width: 100%;
    height: 100%;
    display: block;
}

.sticky-title {
    display: flex;
    align-items: center;
    width: calc(100% - 50px);
}

.sticky-title h1 {
    font-family: 'SofiaPro-light';
    font-weight: normal;
    color: #2c3c49;
    font-size: 1.375rem;
    line-height: 50px;
    text-align: left;
    padding-left: 1.75rem;
}

.sticky-content video {
    width: 100%;
    margin-bottom: 1rem;
}

.sticky-text {
    margin: 30px 0;
}

.sticky-text h2 {
    font-family: 'SofiaPro-regular';
    font-weight: normal;
    color: #00C0FF;
    font-size: 1.5rem;
    line-height: 2.25rem;
    text-align: left;
    margin: 30px 0;
    background-color: #DBF6FF;
    padding: 1.25rem 1.5rem;
    border-radius: 30px;
}

.sticky-text h3 {
    font-family: 'SofiaPro-light';
    font-weight: normal;
    color: #2c3c49;
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: left;
}

.sticky-text p {
    font-family: 'SofiaPro-light';
    color: #2c3c49;
    font-size: 1rem;
    line-height: 2rem;
    padding-top: 20px;
    text-align: left;
}

.sticky-text h5 {
    font-family: 'SofiaPro-light';
    font-weight: normal;
    color: #2c3c49;
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: left;
    border-top: 1px solid #dedcd5;
    padding: 15px 0;
}

.sticky-text h5:nth-child(4) {
    padding-bottom: 0;
}

.sticky-bullet {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.sticky-bullet p {
    font-family: 'SofiaPro-light';
    color: #2c3c49;
    font-size: 1rem;
    line-height: 2rem;
    padding-top: 30px;
    text-align: left;
}

.sticky-bullet img {
    width: 16px;
    height: 16px;
    display: block;
    margin-top: 9px;
}

.sticky-bullet p {
    width: calc(100% - 16px);
    padding-top: 0;
    padding-left: 16px;
}


/*    Company    */

#about-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #FDFBF3;
}

.about-container {
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
    padding: 120px 50px 60px 50px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.about-content {
    width: calc(50% - 25px);
    padding-bottom: 60px;
}

.about-content img {
    object-fit: cover;
    height: 580px;
    display: block;
    width: calc(100% - 25px);
    border-radius: 30px;
}

.about-text h2 {
    font-family: 'SofiaPro-regular';
    font-weight: normal;
    color: #00c0ff;
    font-size: 1.75rem;
    line-height: 2.5rem;
    padding-bottom: 2rem;
    text-align: left;
}

.about-text p {
    font-family: 'SofiaPro-light';
    font-weight: normal;
    color: #2c3c49;
    font-size: 1rem;
    line-height: 2rem;
    padding-bottom: 2rem;
    text-align: left;
}

#large-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #F6F4EC;
}

.large-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.large-media {
    object-fit: cover;
    height: calc(100vh - 5.75rem);
    display: block;
    width: calc(50% - 25px);
}

.space-hidden {
    width: calc(50% - 25px);
    height: calc(100vh - 5.75rem);
    position: relative;
    display: block;
}

.large-text {
    z-index: 9;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.large-container-box {
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 50px;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.large-container-box h1 {
    font-family: 'SofiaPro-bold';
    font-weight: normal;
    width: calc(50% - 25px);
    color: #2c3c49;
    font-size: 2rem;
    line-height: 3rem;
    font-style: normal;
    text-align: left;
    padding-bottom: 0.5rem;
    padding-right: 2rem;
}

.large-container-box p {
    width: calc(50% - 25px);
    font-family: 'SofiaPro-light';
    color: #2c3c49;
    font-size: 1rem;
    line-height: 1.75rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
    text-align: left;
}

#center-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 120px 0 0 0;
    background-color: #FDFBF3;
}

.center-container {
    position: relative;
    max-width: 1024px;
    height: 100%;
    margin: 0 auto;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.center-text {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px 50px 50px;
}

.center-text h1 {
    color: #2c3c49;
    font-family: 'SofiaPro-bold';
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 3.5rem;
    font-style: normal;
    text-align: center;
}

.center-text p {
    font-family: 'SofiaPro-bold';
    color: #00C0FF;
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding-bottom: 3rem;
    text-align: center;
    width: 100%;
}

.team-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding-bottom: 50px;
}

.team-column {
    width: calc(33.3333333% - 25px);
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
}

.team-content {
    width: 100%;
    position: relative;
}

.team-img {
    width: 100%;
    height: auto;
    margin-top: 60px;
}

.team-img img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
}

.team-member {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
}

.team-member h2 {
    font-family: 'SofiaPro-regular';
    font-weight: normal;
    color: #2c3c49;
    font-size: 1.375rem;
    line-height: 2rem;
    padding: 0 0 0.5rem 0;
    font-style: normal;
    text-transform: capitalize;
}

.team-member p {
    font-family: 'SofiaPro-regular';
    font-weight: normal;
    color: #b2b1ae;
    font-size: 1rem;
    line-height: 2rem;
    font-style: normal;
    text-transform: capitalize;
}

.team-btn {
    margin: 0 auto;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin-top: 30px;
    position: relative;
    border: 1px solid #dedcd5;
    border-radius: 30px;
    transition: 0.3s;
    cursor: pointer;
}

.team-btn:hover {
    box-shadow: 0 25px 30px 0px rgba(44, 60, 73, 0.1);
}

.team-btn p {
    font-family: 'SofiaPro-light';
    font-weight: normal;
    color: #2c3c49;
    font-size: 1rem;
    line-height: 60px;
    padding-left: 2rem;
    font-style: normal;
    text-transform: capitalize;
}

.team-plus {
    width: 14px;
    height: 14px;
    display: block;
    position: absolute;
    margin-top: 1.438rem;
    right: 1.75rem;
    transition: 0.3s;
}

.team-plus.plus-rotate {
    transform: rotate(45deg);
    transform-origin: center;
}

.team-info {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    display: none;
    border: 1px solid #dedcd5;
    border-radius: 30px;
    box-shadow: 0 40px 50px 0px rgba(44, 60, 73, 0.1);
}

.team-info p {
    font-family: 'SofiaPro-light';
    color: #2c3c49;
    font-size: 1rem;
    line-height: 1.75rem;
    padding: 1.5rem;
    font-style: normal;
    text-align: left;
    text-transform: capitalize;
}

#career-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #f6f4ec;
}

.career-container {
    position: relative;
    max-width: 1024px;
    height: 100%;
    margin: 0 auto;
    padding: 100px 50px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.career-text {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}

.career-text h1 {
    color: #2c3c49;
    font-family: 'SofiaPro-bold';
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 3.5rem;
    font-style: normal;
    text-align: center;
}

.career-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding-top: 100px;
}

.career-box {
    width: calc(33.3333333% - 25px);
    padding: 3rem;
    border-radius: 1.875rem;
    box-shadow: 0 40px 50px 0px rgba(44, 60, 73, 0.1);
    background-color: #fdfbf3;
}

.career-box h1 {
    font-family: 'SofiaPro-regular';
    color: #2c3c49;
    font-size: 1.25rem;
    line-height: 2rem;
    text-align: center;
    padding: 3.75rem 0 1.75rem 0;
    font-weight: normal;
}

.career-img {
    width: 100%;
}

.career-img img {
    height: 80px;
    width: auto;
    margin: 0 auto;
    display: block;
}

#contact-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fdfbf3;
}

.contact-container {
    position: relative;
    max-width: 1024px;
    height: 100%;
    margin: 0 auto;
    padding: 30px 50px 130px 50px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.contact-text {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 30px 0;
}

.contact-text h1 {
    color: #2c3c49;
    font-family: 'SofiaPro-bold';
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 3.5rem;
    font-style: normal;
    text-align: center;
}

.contact-content {
    width: calc(50% - 15px);
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin-top: 30px;
}

.contact-box {
    width: 100%;
    border-radius: 1.875rem;
    /*box-shadow: 0 40px 50px 0px rgba(44,60,73, 0.1);*/
    border: 1px solid #e0e0e0;
    text-align: center;
    transition: 0.3s;
    display: inline-block;
    position: relative;
    margin-bottom: 30px;
}

.contact-box:hover {
    box-shadow: 0 40px 50px 0px rgba(44, 60, 73, 0.1);
}

.contact-info {
    position: relative;
    width: 100%;
    padding: 30px 30px 30px 70px;
}

.contact-info h3 {
    font-family: 'SofiaPro-light';
    font-weight: normal;
    color: #3C3F72;
    font-size: 1.125rem;
    line-height: 2rem;
    padding-bottom: 1rem;
    font-style: normal;
    text-align: left;
}

.contact-info p {
    font-family: 'SofiaPro-regular';
    color: #2c3c49;
    font-size: 1rem;
    line-height: 1.75rem;
    font-style: normal;
    text-align: left;
}

.contact-img {
    position: absolute;
    left: 30px;
    top: 35px;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.contact-img img {
    width: 100%;
    height: 100%;
    display: block;
}

.contact-map {
    width: 100%;
    height: calc(100% - 30px);
    border-radius: 1.875rem;
    overflow: hidden;
    background-color: #F6F4EC;
    border: 1px solid #DEDCD5;
}

.contact-map iframe {
    width: 100%;
    height: 100%;
    display: block;
}

.message-content {
    width: 100%;
    display: inline-block;
    margin-top: 30px;
}

.contact-input {
    display: inline-block;
    width: calc(50% - 8px);
    font-family: 'SofiaPro-light';
    font-size: 1rem;
    height: 60px;
    color: #2c3c49;
    padding: 0 2rem;
    margin-bottom: 30px;
    text-align: left;
    background-color: #F6F4EC;
    border: 1px solid #DEDCD5;
    border-radius: 30px;
    resize: none;
}

.contact-input:focus {
    background-color: #fdfbf3;
    border: 1px solid #00c0ff;
}

.contact-input:nth-child(2) {
    /*float: right;*/
}

.contact-input:nth-child(4) {
    /*float: right;*/
}

.contact-msg {
    width: 100%;
    font-family: 'SofiaPro-light';
    font-size: 1rem;
    height: 60px;
    color: #2c3c49;
    padding: 1.5rem 2rem;
    margin-bottom: 30px;
    text-align: left;
    background-color: #F6F4EC;
    border: 1px solid #DEDCD5;
    border-radius: 30px;
    resize: none;
}

.contact-msg:focus {
    background-color: #fdfbf3;
    border: 1px solid #00c0ff;
}

.contact-send {
    width: 100%;
    font-family: 'SofiaPro-light';
    font-size: 1rem;
    height: 60px;
    color: #FDFBF3;
    padding: 0 2rem;
    text-align: center;
    background-color: #00C0FF;
    border: 1px solid #00C0FF;
    border-radius: 30px;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: none;
}

.contact-send:hover {
    opacity: 0.75;
}



/*    Register    */

#register-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #FDFBF3;
}

.register-container {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding: 160px 50px;
    display: flex;
    justify-content: space-between;
}

.register-content {
    position: relative;
    width: calc(50% - 25px);
    height: auto;
    background-color: #FDFBF3;
    border: 1px solid #DEDCD5;
    border-radius: 30px;
    padding: 40px;
    box-shadow: 0 40px 50px 0px rgba(44, 60, 73, 0.1);
}

.register-content-box {
    position: relative;
    width: 100%;
    text-align: center;
}

.register-content-box h1 {
    font-family: 'SofiaPro-regular';
    font-weight: normal;
    width: 100%;
    color: #2c3c49;
    font-size: 2rem;
    line-height: 3rem;
    font-style: normal;
    text-align: left;
    padding-bottom: 1.75rem;
}

.register-generator-btn {
    position: absolute;
    bottom: 3rem;
    left: 3rem;
    width: 9rem;
    cursor: pointer;
    border-radius: 30px;
    transition: 0.3s;
    text-align: center;
    font-family: 'SofiaPro-regular';
    color: #ffffff;
    background-color: #00c0ff;
    font-size: 1rem;
    line-height: 60px;
    text-decoration: none;
    text-transform: capitalize;
}

body.hasHover .register-generator-btn:visited {
    background-color: #00c0ff;
    color: #ffffff;
}

body.hasHover .register-generator-btn:hover {
    background-color: #2c3c49;
    color: #ffffff;
}

.forgot-password {
    font-family: 'SofiaPro-light';
    font-weight: normal;
    font-size: 1rem;
    width: 100%;
    height: 60px;
    color: #2C3C49;
    padding: 0 2rem;
    text-align: center;
    background-color: #FDFBF3;
    border: 1px solid #DEDCD5;
    text-decoration: none;
    border-radius: 30px;
    display: block;
    margin-bottom: 30px;
    transition: 0.3s;
    cursor: pointer;
}

div.forgot-password {
    line-height: 60px;
}

.forgot-password:hover {
    box-shadow: 0 15px 20px 0px rgba(44, 60, 73, 0.1);
}

a.social-register-btn {
    line-height: 60px;
}

.social-register-btn {
    font-family: 'SofiaPro-light';
    font-weight: normal;
    font-size: 1rem;
    width: calc(50% - 6px);
    height: 60px;
    color: #2C3C49;
    text-align: center;
    background-color: #FDFBF3;
    border: 1px solid #DEDCD5;
    text-decoration: none;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    transition: 0.3s;
}

.social-register-btn img {
    width: 20px;
    height: 20px;
    display: block;
    margin-top: 20px;
    margin-right: 15px;
}

.social-register-btn:hover {
    box-shadow: 0 15px 20px 0px rgba(44, 60, 73, 0.1);
}

#tabs {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin-bottom: 30px;
    width: 100%;
}

.tab {
    font-family: 'SofiaPro-light';
    font-weight: normal;
    font-size: 1rem;
    width: calc(50% - 6px);
    height: 60px;
    color: #2C3C49;
    background-color: #FDFBF3;
    border: 1px solid #DEDCD5;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: none;
}

.tab:hover {
    box-shadow: 0 15px 20px 0px rgba(44, 60, 73, 0.1);
}

.tab__active:hover {
    box-shadow: none;
}

.tab__active {
    color: #2C3C49;
    background-color: #F6F4EC;
    border: 1px solid #DEDCD5;
}

.tabContent {
    box-sizing: border-box;
    width: 100%;
    display: none;
}

.show {
    display: block;
}

.tabContent__header {
    font-family: 'SofiaPro-light';
    font-weight: normal;
    color: #2C3C49;
    font-size: 2.25rem;
    line-height: 3.875rem;
    font-style: normal;
    text-align: center;
    padding: 3.5rem 1rem 5.5rem;
    letter-spacing: -1px;
}

.form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.form__row {
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.form__row:first-of-type.form__row_first {
    margin-right: 0;
}

.form__row:first-of-type {
    margin-right: 6px;
}

.form__row_2 {
    width: calc(50% - 6px);
}

.form__input {
    font-family: 'SofiaPro-light';
    font-weight: normal;
    font-size: 1rem;
    width: 100%;
    height: 60px;
    color: #2C3C49;
    padding: 0 2rem;
    margin-bottom: 30px;
    text-align: left;
    background-color: #F6F4EC;
    border: 1px solid #DEDCD5;
    border-radius: 30px;
    box-shadow: none;
}

.form__input:focus {
    background-color: #fdfbf3;
    border: 1px solid #00c0ff;
    outline: none;
}

.form__placeholder {
    position: absolute;
    top: 24px;
    left: 2rem;
    text-align: center;
    font-family: 'SofiaPro-light';
    font-weight: normal;
    font-size: 12px;
    color: #B2B1AE;
    pointer-events: none;
}

.form__placeholder:after {
    content: " *";
    color: #00C0FF;
    position: absolute;
    top: 3px;
    right: -0.75rem;
}

.form__btn {
    height: 60px;
    width: 100%;
    color: #ffffff;
    background-color: #00C0FF;
    font-family: 'SofiaPro-light';
    font-weight: normal;
    font-size: 1rem;
    transition: 0.3s;
    cursor: pointer;
}

.form__btn:visited {
    background-color: #00C0FF;
}

.form__btn:hover {
    background-color: #2c3c49;
}

.pop-up-wrapper {
    z-index: 999999999999999;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(44, 60, 73, 0.9);
    border-bottom: 1px solid #E0E0E0;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: none;
}

.pop-up-container {
    width: 512px;
    height: 100%;
    margin: 0 auto;
    padding: 0 30px;
    max-width: 100%;
    position: relative;
}

.pop-up-content {
    width: 100%;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: auto;
    max-height: 90vh;
    transform: translate(-50%, -50%);
    background-color: #fdfbf3;
    border: 1px solid #DEDCD5;
    padding: 30px;
    border-radius: 30px;
    border-top-left-radius: 40px;
}

.title-forgot {
    width: 100%;
    text-align: center;
}

.title-forgot h1 {
    font-family: 'SofiaPro-light';
    font-weight: normal;
    color: #2C3C49;
    font-size: 1.25rem;
    line-height: 2rem;
    font-style: normal;
    padding: 20px 50px;
}

.email-forgot {
    position: relative;
    width: 100%;
    font-family: 'SofiaPro-light';
    font-weight: normal;
    font-size: 1rem;
    height: 60px;
    color: #2c3c49;
    padding: 0 2rem;
    margin: 30px 0;
    text-align: center;
    background-color: #F6F4EC;
    border: 1px solid #DEDCD5;
    border-radius: 30px;
}

.email-forgot:focus {
    background-color: #fdfbf3;
    border: 1px solid #00c0ff;
}

.close-forgot,
.close-profile {
    position: relative;
    width: 100%;
    font-family: 'SofiaPro-light';
    font-weight: normal;
    font-size: 1rem;
    height: 60px;
    color: #2c3c49;
    padding: 0 2rem;
    margin-bottom: 30px;
    text-align: center;
    background-color: #fdfbf3;
    border: 1px solid #DEDCD5;
    border-radius: 30px;
    transition: 0.3s;
    cursor: pointer;
}

.close-forgot:hover,
.close-profile:hover {
    box-shadow: 0 15px 20px 0px rgba(44, 60, 73, 0.1);
}

.send-forgot {
    position: relative;
    width: 100%;
    font-family: 'SofiaPro-light';
    font-weight: normal;
    font-size: 1rem;
    height: 60px;
    color: #ffffff;
    padding: 0 2rem;
    text-align: center;
    background-color: #00c0ff;
    border-radius: 30px;
    transition: 0.3s;
    cursor: pointer;
    border: none;
}

.send-forgot:visited {
    background-color: #00c0ff;
}

.send-forgot:hover {
    background-color: #2c3c49;
}


/*    GENERATOR    */

.generator-navbar {
    z-index: 9;
    position: fixed;
    width: 100%;
    height: 5rem;
    top: 5.75rem;
    border-bottom: 1px solid #DEDCD5;
    background-color: #FDFBF3;
}

.generator-container {
    position: relative;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.generator-containers {
    position: relative;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.generator-filter {
    width: 180px;
    height: 5rem;
    position: relative;
}

.filter-dropdown {
    width: 100%;
    background-color: #FDFBF3;
    border-radius: 10px;
}

.filter-click {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin-top: 15px;
    border: 1px solid #DEDCD5;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
}

.filter-click span {
    color: #2C3C49;
    font-family: 'SofiaPro-light';
    font-weight: normal;
    font-size: 1rem;
    line-height: 50px;
    padding-left: 1.25rem;
}

.filter-icon {
    position: absolute;
    width: auto;
    height: 12px;
    display: block;
    right: 1.25rem;
    top: 18px;
    transition: 0.15s;
}

.filter-icon.rotate-filter {
    transform: rotate(90deg);
    transform-origin: center;
}

.letter-items {
    display: none;
    justify-content: space-between;
    flex-flow: row wrap;
    border-right: 1px solid #DEDCD5;
    border-bottom: 1px solid #DEDCD5;
    border-left: 1px solid #DEDCD5;
    border-radius: 0 0 10px 10px;
    min-width: 550px;
    background-color: #fdfbf3;
}

.letter-items:nth-child(2) {
    border-radius: 0;
}

.letter-items.filter-show {
    display: flex;
}

.letterbtn {
    color: rgba(44, 60, 73, 1);
    font-family: 'SofiaPro-light';
    font-weight: normal;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0;
    border: none;
    outline: none;
    width: 7.69230769231%;
    height: 50px;
    background-color: transparent;
    border-right: 1px solid #DEDCD5;
    cursor: pointer;
}

.letterbtn:nth-child(13) {
    border-right: none;
}

body.hasHover .letterbtn:visited {
    color: rgba(44, 60, 73, 1);
}

body.hasHover .letterbtn:hover {
    color: rgba(44, 60, 73, 0.5);
}

.active {
    background-color: #2C3C49;
    color: rgba(255, 254, 251, 1);
}

body.hasHover .letterbtn.active:visited {
    color: rgba(255, 254, 251, 1) !important;
}

body.hasHover .letterbtn.active:hover {
    color: rgba(255, 254, 251, 0.7) !important;
}

body.hasHover #all.active:hover {
    color: #2C3C49 !important;
}

.generator-btns {
    position: relative;
    width: calc(50% - 6px);
    height: 5rem;
}

#all {
    color: #2c3c49;
    font-family: 'SofiaPro-light';
    font-weight: normal;
    font-size: 1rem;
    line-height: 50px;
    position: absolute;
    border: none;
    outline: none;
    width: calc(33.3333333% - 6px);
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background-color: #FDFBF3;
    border: 1px solid #DEDCD5;
    border-radius: 10px;
    text-transform: none;
}

.credits-count {
    color: #2c3c49;
    font-family: 'SofiaPro-light';
    font-weight: normal;
    font-size: 1rem;
    line-height: 50px;
    text-align: center;
    position: absolute;
    border: none;
    outline: none;
    width: calc(33.3333333% - 6px);
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FDFBF3;
    border: 1px solid #DEDCD5;
    border-radius: 10px;
    cursor: default;
    -moz-appearance: textfield;
    -webkit-appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.submit-btn {
    color: #2c3c49;
    font-family: 'SofiaPro-light';
    font-weight: normal;
    font-size: 1rem;
    line-height: 50px;
    position: absolute;
    border: none;
    outline: none;
    width: calc(33.3333333% - 6px);
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    background-color: #FDFBF3;
    border: 1px solid #DEDCD5;
    border-radius: 10px;
    cursor: pointer;
}

#generator-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 12.75rem 0 8rem 0;
    background-color: #F6F4EC;
}

.generator-wrapper {
    position: relative;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.drug-card {
    width: calc(50% - 8px);
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    position: relative;
    cursor: pointer;
    margin-bottom: 1.25rem;
    background-color: #FDFBF3;
    border: 1px solid #DEDCD5;
    border-radius: 1.875rem;
    transition: 0.3s;
}

.drug-card:hover {
    box-shadow: 0 30px 30px 0px rgba(178, 177, 174, 0.2);
    border: 1px solid #00C0FF;
}

.drug-card input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.drug-card.selected-card {
    background-color: #00C0FF;
    border: 1px solid #00C0FF;
    box-shadow: 0 30px 30px 0px rgba(178, 177, 174, 0.2);
}

.drug-name .checkbox-icon {
    position: absolute;
    top: 2.25rem;
    right: 2rem;
    height: 24px;
    width: 24px;
    border-radius: 5px;
    transition: all 0.15s ease-out;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -ms-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    background-color: #FDFBF3;
    border: 1px solid #DEDCD5;
}

.drug-card input:checked~.drug-name .checkbox-icon {
    background-color: #FDFBF3;
    border-radius: 4px;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity: 1;
    border: 1px solid #FDFBF3;
}

.drug-name .checkbox-icon::after {
    position: absolute;
    content: "";
    left: 20px;
    top: 1px;
    height: 0px;
    width: 0px;
    border-radius: 5px;
    border: solid #009BFF;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity: 1;
    transition: all 0.15s ease-out;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -ms-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
}

.drug-card input:checked~.drug-name .checkbox-icon::after {
    -webkit-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
    opacity: 1;
    left: 8px;
    top: 3px;
    width: 4px;
    height: 10px;
    border: solid #00C0FF;
    border-width: 0 3px 3px 0;
    background-color: transparent;
    border-radius: 0;
}

.drug-name {
    width: 100%;
    margin: 0 2rem;
    border-bottom: 1px solid #DEDCD5;
}

.drug-name h1 {
    color: #00C0FF;
    font-family: 'SofiaPro-regular';
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 2rem;
    padding: 2rem 0;
    text-transform: capitalize;
}

.drug-info-left {
    width: calc(50% - 24px);
    margin: 0 0 2.5rem 0;
    border-right: 1px solid #DEDCD5;
}

.drug-info-right {
    width: calc(50% - 24px);
    margin: 0 0 2.5rem 0;
}

#dosage {
    color: #2C3C49;
    font-family: 'SofiaPro-light';
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.75rem;
    padding: 2rem 1rem 0.5rem 1rem;
    text-transform: capitalize;
}

#strengh {
    color: #B2B1AE;
    font-family: 'SofiaPro-light';
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.75rem;
    padding: 0 1rem 0.5rem 1rem;
    text-transform: capitalize;
}

#route {
    color: #2C3C49;
    font-family: 'SofiaPro-light';
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.75rem;
    padding: 2rem 2rem 0.5rem 2rem;
    text-transform: capitalize;
}

#code {
    color: #B2B1AE;
    font-family: 'SofiaPro-light';
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.75rem;
    padding: 0 2rem 0.5rem 2rem;
    text-transform: capitalize;
}

.drug-card input:checked~.drug-name {
    border-bottom: 1px solid rgba(253, 251, 243, 0.55);
}

.drug-card input:checked~.drug-name h1 {
    color: #FDFBF3;
}

.drug-card input:checked~.drug-info-left #dosage {
    color: #FDFBF3;
}

.drug-card input:checked~.drug-info-left {
    border-right: 1px solid rgba(253, 251, 243, 0.55);
}

.drug-card input:checked~.drug-info-left #strengh {
    color: rgba(253, 251, 243, 0.55);
}

.drug-card input:checked~.drug-info-right #route {
    color: #FDFBF3;
}

.drug-card input:checked~.drug-info-right #code {
    color: rgba(253, 251, 243, 0.55);
}


/*      Profile    */

#user-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 200px 0;
    background-color: #fdfbf3;
}

.user-container {
    position: relative;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.user-title {
    width: 100%;
    padding: 0 50px 120px 50px;
}

.user-title h1 {
    color: #00c0ff;
    font-family: 'SofiaPro-light';
    font-weight: normal;
    font-size: 3rem;
    line-height: 4rem;
    font-style: normal;
    text-align: center;
}

.user-title span {
    font-family: 'SofiaPro-bold';
}

.user-content {
    position: relative;
    width: 100%;
}

.dashboard {
    box-shadow: 0 35px 40px 0px rgba(44, 60, 73, 0.1);
    border-radius: 30px;
    width: 100%;
    height: 520px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border: 1px solid #dedcd5;
    overflow: hidden;
}

.dashboard-btns {
    position: relative;
    font-family: 'SofiaPro-light';
    font-weight: normal;
    width: 300px;
    display: flex;
    flex-flow: column wrap;
    border-right: 1px solid #dedcd5;
}

#defaultOpen {
    margin-bottom: 0;
}

.userbtn {
    font-family: 'SofiaPro-light';
    border: none;
    outline: none;
    color: #2c3c49;
    width: 100%;
    list-style: none;
    background-color: #fdfbf3;
    position: relative;
    font-size: 1.125rem;
    cursor: pointer;
    text-align: left;
    padding: 1.5rem;
    border-bottom: 1px solid #dedcd5;
}

.userbtn.active {
    color: #00c0ff;
    background-color: #fdfbf3;
    font-family: 'SofiaPro-regular';
}

.userbody {
    overflow: auto;
    border-top: none;
    position: relative;
    display: none;
    width: 100%;
    padding: 0 30px 30px 30px;
    justify-content: space-between;
    flex-flow: row wrap;
}

.list-title {
    width: 100%;
    padding: 1.5rem 1.5rem 1.5rem 0;
    border-bottom: 1px solid #dedcd5;
}

.list-title p {
    font-family: 'SofiaPro-regular';
    font-weight: normal;
    color: #00c0ff;
    font-size: 1.125rem;
}

.user-info {
    width: calc(50% - 15px);
    padding: 30px 0 15px 0;
}

.user-info p {
    font-family: 'SofiaPro-regular';
    font-weight: normal;
    color: #b2b1ae;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-bottom: 1rem;
}

.user-info h5 {
    width: 100%;
    display: flex;
    height: 52px;
    justify-content: space-between;
    font-family: 'SofiaPro-regular';
    font-weight: normal;
    color: #2c3c49;
    font-size: 1rem;
    line-height: 2rem;
    padding: 0.75rem 1.125rem;
    background-color: #f6f4ec;
    border-radius: 6px;
    overflow: auto;
}

.user-info a {
    font-size: 0.75rem;
    text-decoration: none;
    color: #b2b1ae;
}

.user-info a:visited {
    color: #b2b1ae;
}

.user-info a:hover {
    color: #00c0ff;
}

.purchase-content {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 0 0 50px 0;
    border-bottom: 1px solid #dedcd5;
}

.purchase-content:last-child {
    border-bottom: none;
}

.purchase-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 1.75rem 0 2.5rem 0;
}

.purchase-detail p {
    font-family: 'SofiaPro-regular';
    font-weight: normal;
    color: #2c3c49;
    font-size: 1.125rem;
    padding-bottom: 0.25rem;
}

.purchase-detail span {
    color: #b2b1ae;
    font-family: 'SofiaPro-regular';
    font-weight: normal;
    font-size: 0.875rem;
}

.purchase-cost p {
    font-family: 'SofiaPro-regular';
    font-weight: normal;
    color: #00c0ff;
    background-color: #dbf6ff;
    font-size: 1.125rem;
    padding: 0.75rem 1rem;
    border-radius: 10px;
}

.purchase-info {
    width: calc(50% - 15px);
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    position: relative;
    background-color: #f6f4ec;
    border-radius: 20px;
    transition: 0.3s;
}

.purchase-info h1 {
    color: #2c3c49;
}


/*   Checkout   */

#checkout-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 150px 0;
    background-color: #FDFBF3;
}

.checkout-container {
    max-width: 1440px;
    height: auto;
    margin: 0 auto;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
}

.checkout-content {
    position: relative;
    width: calc(50% - 25px);
    height: 100%;
    background-color: #FDFBF3;
    border: 1px solid #DEDCD5;
    border-radius: 30px;
    padding: 50px;
    box-shadow: 0 40px 50px 0px rgba(44, 60, 73, 0.1);
}

.checkout-content:nth-child(1) {
    padding-bottom: 1rem;
}

.checkout-content-box {
    width: 100%;
    text-align: center;
    background-color: #F6F4EC;
    border: 1px solid #DEDCD5;
    height: 60px;
    border-radius: 3rem;
}

.checkout-content-box h1 {
    font-family: 'SofiaPro-light';
    font-weight: normal;
    color: #2c3c49;
    width: 100%;
    font-size: 1.125rem;
    line-height: 60px;
    font-style: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.content-box-2 {
    width: 100%;
    text-align: center;
    background-color: #F6F4EC;
    border: 1px solid #DEDCD5;
    height: 60px;
    border-radius: 3rem;
}

.content-box-2 h1 {
    font-family: 'SofiaPro-light';
    font-weight: normal;
    color: #2c3c49;
    width: 100%;
    font-size: 1.125rem;
    line-height: 60px;
    font-style: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.drug-list-scroll {
    margin-top: 3rem;
    padding-bottom: 1rem;
    position: relative;
    width: 100%;
    height: calc(100% - 3rem);
}

.checkout-drug-card {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    position: relative;
    cursor: pointer;
    margin-bottom: 2rem;
    background-color: #FDFBF3;
    border: 1px solid #DEDCD5;
    border-radius: 1.875rem;
    transition: 0.3s;
}

.checkout-drug-card input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.selected-checkbox-icon {
    position: absolute;
    top: 2.5rem;
    right: 2rem;
    height: 16px;
    width: 16px;
}

#payment-form {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.control-label {
    font-family: 'SofiaPro-light';
    font-weight: normal;
    color: #B2B1AE;
    font-size: 0.875rem;
    padding-left: 0.25rem;
    text-align: left;
}

.form-control {
    position: relative;
    width: 100%;
    font-family: 'SofiaPro-light';
    font-weight: normal;
    font-size: 1rem;
    height: 60px;
    color: #2c3c49;
    padding: 0 2rem;
    margin-bottom: 3rem;
    margin-top: 1rem;
    text-align: left;
    background-color: #F6F4EC;
    border: 1px solid #DEDCD5;
    border-radius: 30px;
}

.form-control:focus {
    background-color: #fdfbf3;
    border: 1px solid #00c0ff;
    outline: none;
}

.row {
    width: 100%;
}

.card {
    width: calc(100% - 146px);
    display: inline-block;
}

.cvc {
    width: 130px;
    display: inline-block;
    float: right;
}

.expiration {
    width: calc(50% - 8px);
    display: inline-block;
}

.expiration:nth-child(2) {
    float: right;
}

.form-control::placeholder {
    color: #b2b1ae;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #b2b1ae;
}

.form-control::-ms-input-placeholder {
    color: #b2b1ae;
}

.btn-primary {
    position: relative;
    width: 100%;
    font-family: 'SofiaPro-light';
    font-size: 1rem;
    height: 60px;
    color: #ffffff;
    padding: 0 2rem;
    margin-top: 2rem;
    text-align: center;
    background-color: #00C0FF;
    border: 1px solid #00C0FF;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-primary:hover {
    opacity: 0.9;
}

.alert-danger {
    position: relative;
    width: 100%;
    font-family: 'SofiaPro-light';
    font-size: 1rem;
    color: red;
    padding: 0 2rem;
    margin-top: 2rem;
    text-align: center;
}


/*    Privacy wrapper    */

#privacy-wrapper {
    position: relative;
    width: 100%;
    padding: 150px 0;
    height: 100%;
    background-color: #fdfbf3;
}

.privacy-container {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding: 0 50px;
}

.privacy-container p {
    color: #0C1823;
    font-family: 'SofiaPro-light';
    font-size: 1rem;
    line-height: 1.75rem;
    padding-bottom: 3rem;
}

.privacy-container h2 {
    font-family: 'SofiaPro-light';
    font-weight: normal;
    color: #0C1823;
    font-size: 1.75rem;
    line-height: 2.25rem;
    padding-bottom: 3rem;
    font-style: normal;
}

.privacy-container h4 {
    font-family: 'SofiaPro-light';
    font-weight: normal;
    color: #0C1823;
    font-size: 1.35rem;
    line-height: 2.25rem;
    padding-bottom: 3rem;
    font-style: normal;
}

.privacy-container p.inner {
    margin-left: 30px;
}


/*    HALF SECTION






    #half-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 150px 0;
        background-color: #FDFBF3;
    }

    .half-container {
        position: relative;
        max-width: 1024px;
        height: 100%;
        margin: 0 auto;
        padding: 0 50px;
        display: flex;
        justify-content: space-between;
        background-color: red;
    }


    .half-media {
        object-fit: cover;
        height: 70vh;
        display: block;
        width: calc(50% - 25px);
        border-radius: 1.875rem;
    }

    .half-text {
        position: relative;
        width: calc(50% - 25px);
    }

    .half-box {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .half-box h1 {
        font-family: 'SofiaPro-bold';
        font-weight: normal;
        width: 100%;
        color: #2c3c49;
        font-size: 2.625rem;
        line-height: 3.875rem;
        font-style: normal;
        text-align: left;
        padding-bottom: 1.75rem;
        letter-spacing: -1px;
    }

    .half-box p {
        font-family: 'SofiaPro-light';
        color: #2c3c49;
        font-size: 1.5rem;
        line-height: 2.5rem;
        padding-bottom: 3rem;
        padding-right: 2rem;
        text-align: left;
    }



    */


/*    Float Container






#float-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 200px 0;
	background-color: #ECFCEF;
}

.float-container {
	position: relative;
	max-width: 1440px;
	height: 100%;
	margin: 0 auto;
	padding: 0 50px;
}

.float-media {
	position: relative;
	width: calc(50% - 25px);
	border-radius: 1.875rem;
	overflow: hidden;
	height: 70vh;
}

.float-media img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	display: block;
}

.float-text {
	position: relative;
	width: calc(50% - 25px);
	float: right;
	height: 70vh;
}

.float-text .main-btn {
	background-color: transparent;
}
*/


/*    FOOTER    */

#footer-wrapper {
    position: relative;
    width: 100%;
    padding: 50px 0 0 0;
    height: 100%;
    background-color: #0C1823;
}

.footer-container {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.footer-top {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex-flow: row wrap;
    padding: 40px 0 50px 0;
    align-items: flex-start;
    justify-content: space-between;
    border-top: 1px solid #202B35;
}

.footer-left {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: calc(50% - 25px);
}

.footer-logo {
    width: 13rem;
    height: auto;
}

.footer-logo img {
    width: 100%;
    height: auto;
    display: block;
}

.footer-center {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 100%;
    border-top: 1px solid #202B35;
    padding: 40px 0 50px 0;
}

.twitter-items {
    position: relative;
    display: block;
    width: 100%;
}

.footer-right {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: calc(50% - 25px);
}

.footer-items {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    width: calc(50% - 0.5rem);
    padding-right: 20px;
}

.footer-items p {
    color: #FFFEFB;
    font-family: 'SofiaPro-light';
    font-size: 1rem;
    line-height: 1.75rem;
}

.footer-items a {
    color: white;
    font-family: 'SofiaPro-light';
    font-size: 1rem;
    text-decoration: none;
    line-height: 1.75rem;
    margin-top: 1rem;
    opacity: 0.25;
    transition: 0.3s;
}

.footer-items span:nth-child(2) {
    opacity: 0.25;
}

.footer-items a:hover {
    opacity: 0.6;
}

.footer-icons {
    margin-top: 40px;
    position: relative;
    width: 100%;
}

.footer-icons a {
    margin-right: 20px;
}

.footer-icons img {
    width: 26px;
    height: auto;
    display: block;
    transition: 0.3s;
}

.footer-icons img:hover {
    opacity: 0.25;
}

.footer-bottom {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 100%;
    border-top: 1px solid #202B35;
    padding: 40px 0 40px 0;
}

.footer-bottom .footer-right {
    width: calc(50% - 25px);
}

.footer-bottom .footer-left {
    width: calc(50% - 25px);
}

.footer-bottom .footer-items {
    width: 100%;
    height: 100%;
    padding-bottom: 0;
}

.generator-filter-wrap {
    display: flex;
    width: calc(50% - 6px);
    align-items: center;
}

.generator-search {
    flex-basis: calc(100% - 190px);
    max-width: calc(100% - 190px);
    margin-right: 10px;
}

.generator-search input {
    width: 100%;
    border: 1px solid #DEDCD5;
    padding: 12px 26px;
    background-color: transparent;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'SofiaPro-light';
}

.swal-modal {
    font-family: SofiaPro-light;
}

button.swal-button.swal-button--confirm {
    cursor: pointer;
    border-radius: 30px;
    transition: 0.3s;
    text-align: center;
    font-family: 'SofiaPro-regular';
    color: #ffffff;
    background-color: #00c0ff;
    font-size: 1rem;
    text-decoration: none;
    text-transform: capitalize;
}

.swal-footer {
    text-align: center;
    padding-top: 13px;
    margin-top: 13px;
    padding: 13px 16px;
    border-radius: inherit;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.pay_option {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
}

.pay_option_box {
    flex-basis: calc(50% - 15px);
    max-width: calc(50% - 15px);
    border: 1px solid #0002;
    border-radius: 14px;
    padding: 10px 35px;
    position: relative;
    overflow: hidden;
}

.pay_option_box div {
    text-align: right;
    position: relative;
}

.pay_option_box input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
}

.pay_option_box div::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: 1px solid #0008;
    transform: translateY(-50%);
    transition: all 0.5s;
}

.pay_option_box input:checked+div::before {
    box-shadow: inset 0 0 0 8px #00c0ff;
    border-color: #00c0ff;
}

.stripe_dv img {
    height: 50px;
    width: 60px;
}

.paypal_dv img {
    height: 50px;
    width: 100px;
}

.paypal-button {
    width: 200px;
    display: block;
    margin: 0 auto;
    border-radius: 100px;
    border: 1px solid #ccc;
    padding: 10px 30px;
}

.saved-card-wrap {
    background-color: #00c0ff;
    border-radius: 10px;
    padding: 14px 18px;
    margin-bottom: 30px;
    max-width: 250px;
    display: block;
    font-family: 'SofiaPro-regular';
}

.saved-card-date-wra img {
    width: 60px;
}

.saved-card-date-wra {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.saved-card-wrap h5 {
    font-size: 24px;
    color: #fff;
    margin-bottom: 10px;
}

.saved-card-date-wra p {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
}

.saved-check {
    font-family: 'SofiaPro-regular';
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.saved-check input {
    margin-right: 8px;
    width: 16px;
    height: 16px;
}

.blue-container p {
    font-family: 'SofiaPro-light';
    color: #FDFBF3;
    font-size: 2rem;
    text-align: center;
}

.input-50-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/*    NAVBAR SECTION    */





.navbar {
    z-index: 999999999999999999;
    position: fixed;
    width: 100%;
    height: 5.75rem;
    top: 0;
    left: 0;
}

#nav-shown {
    position: absolute;
    width: 100%;
    height: 5.75rem;
    top: 0;
    left: 0;
    background-color: rgba(253, 251, 243, 0.9);
    border-bottom: 1px solid #DEDCD5;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#nav-hidden {
    position: absolute;
    width: 100%;
    height: 5.75rem;
    top: 0;
    left: 0;
    background-color: rgba(253, 251, 243, 0.9);
    border-bottom: 1px solid #DEDCD5;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: none;
}

.nav-pc {
    position: relative;
    max-width: 1440px;
    height: 5.75rem;
    margin: 0 auto;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.logo {
    position: relative;
    color: #00C0FF;
    width: 13rem;
    height: auto;
    transition: 0.3s;
}

.logo svg {
    width: 100%;
    height: 100%;
    display: block;
}

body.hasHover .logo:visited {
    opacity: 1;
}

body.hasHover .logo:hover {
    opacity: 0.65;
}

.nav-links {
    width: 550px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    height: 5.75rem;
}

.nav-link {
    height: 5.75rem;
    cursor: pointer;
}

.nav-link a {
    display: block;
    font-family: 'SofiaPro-regular';
    color: #2c3c49;
    font-size: 1rem;
    line-height: 5.75rem;
    text-decoration: none;
    transition: 0.3s;
}

body.hasHover .nav-link:visited a {
    opacity: 1;
}

body.hasHover .nav-link:hover a {
    opacity: 0.5;
}

.drop-box {
    position: relative;
}

body.hasHover .drop-box:hover .drop-items {
    display: flex;
}

body.hasHover .drop-box:hover .space {
    display: block;
}

.space {
    display: none;
    position: absolute;
    width: 11.25rem;
    height: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

.drop-items {
    z-index: 99999999;
    display: none;
    flex-flow: column wrap;
    position: absolute;
    overflow: hidden;
    width: 14.5rem;
    top: 6.75rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: #FDFBF3;
    border-radius: 1rem;
    border: 1px solid #e0e0e0;
    box-shadow: 0 40px 50px 0px rgba(44, 60, 73, 0.1);
}

.drop-items a {
    font-family: 'SofiaPro-regular';
    color: #2c3c49;
    font-size: 1rem;
    line-height: 4rem;
    text-decoration: none;
    border-bottom: 1px solid #e0e0e0;
    transition: 0.15s;
    text-transform: capitalize;
}

.drop-items a:nth-last-child(1) {
    border-bottom: none;
}

body.hasHover .drop-items a:visited {
    background-color: #FDFBF3;
    color: #2c3c49;
}

body.hasHover .drop-items a:hover {
    background-color: #00C0FF;
    color: #ffffff;
}

.nav-btn {
    z-index: 999;
    display: flex;
    align-items: center;
    height: 5.75rem;
}

.generator {
    cursor: pointer;
    background-color: #00C0FF;
    border-radius: 2.5rem;
    transition: 0.3s;
}

.generator a {
    display: block;
    font-family: 'SofiaPro-regular';
    color: #ffffff;
    font-size: 1rem;
    line-height: 2.5rem;
    padding: 0 1.25rem;
    text-decoration: none;
    text-transform: capitalize;
}

body.hasHover .generator:visited {
    background-color: #00C0FF;
}

body.hasHover .generator:hover {
    background-color: #2c3c49;
}

.sign-in {
    cursor: pointer;
    border: 1px solid #e0e0e0;
    border-radius: 2.5rem;
}

.sign-in a {
    display: block;
    font-family: 'SofiaPro-regular';
    color: #0C1823;
    font-size: 1rem;
    line-height: 2.5rem;
    padding: 0 1.25rem;
    text-decoration: none;
    transition: 0.3s;
}

body.hasHover .sign-in:visited a {
    opacity: 1;
}

body.hasHover .sign-in:hover a {
    opacity: 0.75;
}




/*    Group Wrapper    */




.holder-blank {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 5rem;
    padding-bottom: 10rem;
}

.holder-color {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 5rem;
    padding-bottom: 10rem;
    background-color: #f6f4ec;
}

.group-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 5rem;
}

.group-container {
    position: relative;
    max-width: 1024px;
    height: 100%;
    margin: 0 auto;
    padding: 0 3.125rem;
}

.group-copy {
    z-index: 9;
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    width: calc(100% - 6.25rem);
    top: 50%;
    transform: translateY(-50%);
}

.group-media {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.copy-content {
    width: calc(45% - 1rem);
}

.copy-content h1 {
    font-family: 'SofiaPro-bold';
    font-size: 2rem;
    line-height: 3rem;
    color: #2c3c49;
    font-style: normal;
    font-weight: normal;
}

.copy-content p {
    font-family: 'SofiaPro-Regular';
    font-size: 1.25rem;
    line-height: 2rem;
    color: #2c3c49;
    padding-top: 0.5rem;
}

.copy-space {
    width: calc(55% - 1rem);
}

.media-content {
    width: calc(45% - 1rem);
    height: auto;
}

.media-content img {
    width: 100%;
    height: auto;
    display: block;
}

.video-content-small {
    position: relative;
    object-fit: cover;
    height: 450px;
    display: block;
    width: calc(45% - 1rem);
    border-radius: 1.875rem;
}

.media-space {
    width: calc(55% - 1rem);
}

.copy-btn {
    margin-top: 1.5rem;
    padding: 1rem 2.25rem;
    border-radius: 3rem;
    background-color: #00c0ff;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.copy-btn a {
    font-family: 'SofiaPro-regular';
    color: #ffffff;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
}

body.hasHover .copy-btn:visited {
    background-color: #00c0ff;
}

body.hasHover .copy-btn:hover {
    background-color: #2c3c49;
}




/*    Newsletter Wrapper    */




.newsletter-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #f6f4ec;
}

.newsletter-container {
    position: relative;
    max-width: 1024px;
    height: auto;
    margin: 0 auto;
    padding: 4rem 3.125rem;
}

.news-title {
    width: 100%;
    padding-bottom: 2rem;
}

.news-title h1 {
    font-family: 'SofiaPro-bold';
    font-size: 2rem;
    line-height: 3rem;
    color: #2c3c49;
    text-align: center;
    font-style: normal;
    font-weight: normal;
}

.news-form {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    max-width: 640px;
    height: 4rem;
    margin: 0 auto;
}

.news-email {
    width: calc(100% - 10rem);
    font-family: 'SofiaPro-Regular';
    font-size: 1.125rem;
    padding-left: 2rem;
    border: 1px solid #dedcd5;
    border-right: none;
    border-radius: 2rem 0 0 2rem;
    background-color: #fdfbf3;
}

.news-email:focus {
    border: 1px solid #00c0ff;
}

.news-subscribe {
    width: 10rem;
    font-family: 'SofiaPro-Regular';
    font-size: 1.125rem;
    color: #fdfbf3;
    padding: 0 1.5rem;
    border: 1px solid rgba(0, 192, 255, 1);
    border-left: none;
    border-radius: 0 2rem 2rem 0;
    background-color: rgba(0, 192, 255, 1);
    cursor: pointer;
    transition: 0.2s;
}

.news-subscribe:visited {
    border: 1px solid rgba(0, 192, 255, 1);
    background-color: rgba(0, 192, 255, 1);
}

.news-subscribe:hover {
    border: 1px solid rgba(0, 192, 255, 0.8);
    background-color: rgba(0, 192, 255, 0.8);
}




/*    Twin Wrapper    */




.twin-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 0;
}

.twin-container {
    position: relative;
    width: 100%;
    min-height: 450px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.twin-left {
    position: relative;
    width: 50%;
    height: auto;
    background-color: #00C0FF;
}

.twin-blue {
    position: relative;
    max-width: 640px;
    top: 50%;
    transform: translateY(-50%);
    padding: 3.125rem;
    margin: 0 auto;
}

.twin-blue h1 {
    font-family: 'SofiaPro-bold';
    font-size: 2rem;
    line-height: 3rem;
    color: #FDFBF3;
    text-align: left;
    font-style: normal;
    font-weight: normal;
}

.twin-right {
    position: relative;
    width: 50%;
    height: auto;
    background-color: #FDFBF3;
}

.twin-white {
    position: relative;
    max-width: 640px;
    top: 50%;
    transform: translateY(-50%);
    padding: 3.125rem;
    margin: 0 auto;
}

.twin-white h1 {
    font-family: 'SofiaPro-bold';
    font-size: 2rem;
    line-height: 3rem;
    color: #00C0FF;
    text-align: left;
    font-style: normal;
    font-weight: normal;
}




/*    FourBox Wrapper    */




.fourbox-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #f6f4ec;
}

.fourbox-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    max-width: 1280px;
    height: auto;
    margin: 0 auto;
    padding: 10rem 3.125rem 7rem 3.125rem;
}

.fourbox-content {
    position: relative;
    width: calc(50% - 1.5rem);
    height: auto;
    padding: 3rem;
    margin-bottom: 3rem;
    background-color: #fdfbf3;
    border-radius: 2rem;
    box-shadow: 0 40px 50px 0px rgba(44, 60, 73, 0.05);
}

.fourbox-icon {
    position: relative;
    width: 4rem;
    height: auto;
}

.fourbox-icon img {
    width: 100%;
    height: auto;
    display: block;
}

.fourbox-copy {
    width: 100%;
    padding-top: 2rem;
}

.fourbox-copy h1 {
    font-family: 'SofiaPro-bold';
    font-size: 2rem;
    line-height: 3rem;
    color: #2c3c49;
    font-style: normal;
    font-weight: normal;
}

.fourbox-copy p {
    font-family: 'SofiaPro-Regular';
    font-size: 1.25rem;
    line-height: 2rem;
    color: #2c3c49;
    padding-top: 1rem;
}




/*    Blogs    */




#blog-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 10rem;
    padding-bottom: 6.5rem;
    background-color: #f6f4ec;
}

.blog-container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding-left: 3.125rem;
    padding-right: 1.625rem;
}

.blog-post {
    position: relative;
    width: calc(33.3333333% - 1.5rem);
    height: auto;
    margin-right: 1.5rem;
    margin-bottom: 3.5rem;
    border-radius: 1.25rem;
    background-color: #fdfbf3;
    box-shadow: 0 40px 50px 0px rgba(44, 60, 73, 0.05);
    overflow: hidden;
}

.blog-img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.blog-img img {
    width: 100%;
    height: 320px;
    display: block;
    object-fit: cover;
    mix-blend-mode: multiply;
    border-bottom: 1px solid #dedcd5;
}

.blog-title {
    position: relative;
    width: 100%;
    height: 6.5rem;
    overflow: hidden;
    padding: 2rem 2.25rem 0 2.25rem;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.blog-title h1 {
    font-family: 'SofiaPro-bold';
    color: #2c3c49;
    font-size: 1.5rem;
    line-height: 2.25rem;
    font-weight: normal;
    font-style: normal;
}

.blog-text {
    position: relative;
    width: 100%;
    height: 11rem;
    overflow: hidden;
    padding: 1rem 2.25rem 0 2.25rem;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.blog-text p {
    font-family: 'SofiaPro-Regular';
    font-size: 1rem;
    line-height: 2rem;
    color: #2c3c49;
}

.blog-btn {
    margin: 2.25rem;
    padding: 0.75rem 1.75rem;
    border-radius: 3rem;
    border: 1px solid #00c0ff;
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s;
}

.blog-btn a {
    font-family: 'SofiaPro-regular';
    color: #00c0ff;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s;
}

body.hasHover .blog-btn:visited {
    border: 1px solid #00c0ff;
    background-color: #00c0ff;
}

body.hasHover .blog-btn:hover {
    border: 1px solid #00c0ff;
    background-color: #00c0ff;
}

body.hasHover .blog-btn:visited a {
    color: #00c0ff;
}

body.hasHover .blog-btn:hover a {
    color: #ffffff;
}




/*    Blog Page    */




.blog-page-container {
    position: relative;
    max-width: 1024px;
    height: 100%;
    margin: 0 auto;
    padding: 0 3.125rem;
}

.blog-content {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 3.5rem;
    border-radius: 1.25rem;
    background-color: #fdfbf3;
    box-shadow: 0 40px 50px 0px rgba(44, 60, 73, 0.05);
}

.blog-content-img {
    width: 100%;
    height: auto;
}

.blog-content-img img {
    width: 100%;
    height: auto;
    display: block;
    mix-blend-mode: multiply;
    border-bottom: 1px solid #dedcd5;
}

.blog-content-title {
    position: relative;
    margin: 0 2.25rem;
    padding: 2.5rem 0;
    border-bottom: 1px solid #dedcd5;
}

.blog-content-title h1 {
    font-family: 'SofiaPro-bold';
    color: #2c3c49;
    font-size: 1.5rem;
    line-height: 2.25rem;
    font-weight: normal;
    font-style: normal;
}

.blog-content-text {
    position: relative;
    width: 100%;
}

.blog-content-text h2 {
    font-family: 'SofiaPro-bold';
    font-size: 1rem;
    line-height: 2rem;
    color: #2c3c49;
    font-weight: normal;
    font-style: normal;
    padding: 1.5rem 2.25rem 0 2.25rem;
}

.blog-content-text p {
    font-family: 'SofiaPro-Regular';
    font-size: 1rem;
    line-height: 2rem;
    color: #2c3c49;
    padding: 1.5rem 2.25rem 0 2.25rem;
}

.blog-date {
    margin: 2.25rem 2.25rem 0 2.25rem;
    padding: 2.5rem 0;
    border-top: 1px solid #dedcd5;
}

.blog-date p {
    font-family: 'SofiaPro-regular';
    color: #b2b1ae;
    font-size: 1rem;
    text-transform: capitalize;
}




/*      Pricing ( know-How )      */




#tab-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 12.5rem 0;
    background-color: #fdfbf3;
}

.tab-container {
    position: relative;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.tab-half {
    width: calc(50% - 1rem);
}

.tab-pricing {
    top: 7.5rem;
    position: sticky;
    width: 100%;
    background-color: #fdfbf3;
    border: 1px solid #dedcd5;
    box-shadow: 0 40px 50px 0px rgba(44, 60, 73, 0.05);
    border-radius: 30px;
    padding: 1.5rem 1.75rem 0 1.75rem;
    height: auto;
}

.tab-content {
    width: 100%;
}

.tab-title {
    padding-bottom: 1.5rem;
}

.tab-title h1 {
    color: #2c3c49;
    font-family: 'SofiaPro-bold';
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 2.25rem;
    font-style: normal;
    text-align: left;
}

.pricing-box {
    position: relative;
    width: 100%;
    padding: 1.75rem 0;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    border-top: 1px solid #dedcd5;
}

#box-no-border {
    padding-top: 0;
    border-top: none;
}

.pricing-container {
    position: relative;
    display: flex;
}

.pricing-icon {
    position: absolute;
    width: 3.25rem;
    height: 3.25rem;
    background-color: #dbf6ff;
    border-radius: 1rem;
}

.pricing-icon img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1.5rem;
    height: 1.5rem;
    display: block;
}

.pricing-text {
    padding-left: 5rem;
}

.pricing-text h1 {
    color: #2c3c49;
    font-family: 'SofiaPro-bold';
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    font-style: normal;
    text-align: left;
    padding-right: 9rem;
}

.pricing-text p {
    color: #2c3c49;
    font-family: 'SofiaPro-light';
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: left;
    padding-right: 9rem;
}

#pricing-text-full {
    padding-left: 0;
}

#pricing-text-full p {
    font-family: 'SofiaPro-regular';
    color: #2c3c49;
    padding: 1.125rem 1.25rem;
    background-color: #f6f4ec;
    border-radius: 1rem;
}

.pricing-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    font-family: 'SofiaPro-regular';
    color: #ffffff;
    font-size: 1.125rem;
    text-align: center;
    text-decoration: none;
    background-color: #00c0ff;
    border-radius: 4rem;
    padding: 0.75rem 1.5rem;
    transition: 0.3s;
    cursor: pointer;
}

body.hasHover .pricing-btn:visited {
    background-color: #00c0ff;
}

body.hasHover .pricing-btn:hover {
    background-color: #2c3c49;
}

.subscribe-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    font-family: 'SofiaPro-regular';
    color: #00c0ff;
    font-size: 1.125rem;
    text-align: center;
    text-decoration: none;
    background-color: #fdfbf3;
    border: 1px solid #00c0ff;
    border-radius: 4rem;
    padding: 0.75rem 1.5rem;
    transition: 0.3s;
    cursor: pointer;
}

body.hasHover .subscribe-btn:visited {
    color: #00c0ff;
    background-color: #fdfbf3;
}

body.hasHover .subscribe-btn:hover {
    color: #ffffff;
    background-color: #00c0ff;
}

.tabs {
    box-shadow: 0 40px 50px 0px rgba(44, 60, 73, 0.05);
    border-radius: 30px;
    width: 100%;
    height: 100%;
    border: 1px solid #dedcd5;
}

.tab-header {
    position: relative;
    padding: 1.5rem;
}

.tab-header h1 {
    font-family: 'SofiaPro-bold';
    font-weight: normal;
    font-style: normal;
    color: #2c3c49;
    font-size: 1.25rem;
    line-height: 2.25rem;
}

.tab-header h2 {
    font-family: 'SofiaPro-regular';
    font-weight: normal;
    font-style: normal;
    color: #2c3c49;
    font-size: 1.25rem;
    line-height: 2.25rem;
}

.tab-links {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 100%;
    height: auto;
    border-top: 1px solid #dedcd5;
    border-bottom: 1px solid #dedcd5;
}

.tablink {
    border: none;
    outline: none;
    width: 25%;
    height: 60px;
    background-color: #f6f4ec;
    position: relative;
    font-size: 0.875rem;
    border-left: 1px solid #dedcd5;
    cursor: pointer;
}

.tablink:nth-child(1) {
    border-left: none;
}

.tablink.active {
    color: #00c0ff;
    background-color: #fdfbf3;
    border-bottom: none;
}

.tablink img {
    width: 26px;
    height: 26px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tabbody {
    position: relative;
    display: none;
    height: 100%;
    width: 100%;
}

.tab-list {
    width: 100%;
}

.tab-list h1 {
    font-family: 'SofiaPro-bold';
    font-weight: normal;
    color: #2c3c49;
    font-size: 1.25rem;
    line-height: 2.25rem;
    padding: 2rem 1.75rem;
}

.tab-list h3 {
    font-family: 'SofiaPro-light';
    font-weight: normal;
    color: #2c3c49;
    font-size: 1.25rem;
    line-height: 2.25rem;
    padding: 2rem 1.75rem;
    border-top: 1px solid #dedcd5;
}

.list-expand {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    border-top: 1px solid #dedcd5;
    cursor: pointer;
}

.list-expand h2 {
    font-family: 'SofiaPro-light';
    font-weight: normal;
    color: #2c3c49;
    font-size: 1.25rem;
    line-height: 2.25rem;
    padding: 2rem 4rem 2rem 1.75rem;
}

.list-plus {
    position: absolute;
    width: 16px;
    height: 16px;
    right: 1.75rem;
    top: 2.75rem;
    transition: 0.2s;
}

.list-plus.plus-rotate {
    transform: rotate(45deg);
    transform-origin: center;
}

.list-info {
    display: none;
}

.list-info p {
    width: 100%;
    font-family: 'SofiaPro-light';
    color: #2c3c49;
    font-size: 1rem;
    line-height: 2rem;
    padding: 2rem 1.75rem;
    border-top: 1px solid #dedcd5;
}

.subscribe-title {
    width: 100%;
    text-align: center;
}

.subscribe-title h1 {
    font-family: 'SofiaPro-light';
    font-weight: normal;
    color: #2C3C49;
    font-size: 1.25rem;
    line-height: 2rem;
    font-style: normal;
    padding: 20px 0 50px 0;
}

.subscribe-input {
    position: relative;
    width: 100%;
    font-family: 'SofiaPro-light';
    font-weight: normal;
    font-size: 1rem;
    height: 60px;
    color: #2c3c49;
    padding: 0 2rem;
    margin-bottom: 30px;
    text-align: center;
    background-color: #F6F4EC;
    border: 1px solid #DEDCD5;
    border-radius: 30px;
}

.subscribe-email:focus {
    background-color: #fdfbf3;
    border: 1px solid #00c0ff;
}

.subscribe-close {
    position: relative;
    width: 100%;
    font-family: 'SofiaPro-light';
    font-weight: normal;
    font-size: 1rem;
    height: 60px;
    color: #2c3c49;
    padding: 0 2rem;
    margin-bottom: 30px;
    text-align: center;
    background-color: #fdfbf3;
    border: 1px solid #DEDCD5;
    border-radius: 30px;
    transition: 0.3s;
    cursor: pointer;
}

.subscribe-close:hover {
    box-shadow: 0 40px 50px 0px rgba(44, 60, 73, 0.05);
}

.subscribe-submit {
    height: 60px;
    width: 100%;
    color: #ffffff;
    background-color: #00C0FF;
    font-family: 'SofiaPro-light';
    font-weight: normal;
    font-size: 1rem;
    transition: 0.3s;
    cursor: pointer;
    border: none;
    border-radius: 30px;
}

.subscribe-submit:visited {
    background-color: #00C0FF;
}

.subscribe-submit:hover {
    background-color: #2c3c49;
}

.twitter-tweet {
    color: #fff8;
}

.twitter-tweet a {
    color: #fff;
}

.menu-btn {
    position: relative;
    width: 30px;
    height: 30px;
    display: none;
    align-items: center;
}

.menu-btn span {
    position: relative;
    width: 100%;
    height: 3px;
    display: block;
    transition: all 0.5s;
    background-color: transparent;
}

.menu-btn span::before,
.menu-btn span::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transition: top 0.3s 0.1s cubic-bezier(0.3, 1, 0.3, 1), transform 0.3s cubic-bezier(0.3, 1, 0.3, 1);
    background-color: #00c0ff;
}

.menu-btn span::before {
    top: -6px;
}

.menu-btn span::after {
    top: 6px;
}

html.show-menu {
    height: 100vh;
    overflow: hidden;
}

html.show-menu::before {
    content: "";
    left: 0;
    top: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgb(0 192 255 / 0.3);
}

.footer-icons p {
    color: #ffffff;
    margin-bottom: 15px;
    font-family: 'SofiaPro-light';
}

.footer-icons div {
    display: flex;
    align-items: center;
}

.form-control {
    margin-bottom: 1rem;
}

.footer-right .footer-icons a {
    margin: 0;
    display: block;
    height: 100%;
}


.footer-right .footer-icons {
    position: fixed;
    bottom: 60px;
    right: 20px;
    width: 40px;
    height: 40px;
    margin: 0;
    border-radius: 20px;
    background-color: #00c0ff;
}

.footer-right .footer-icons img {
    margin: auto;
    height: 100%;
    width: 18px;
}

.letter-item-wrap {
    margin-top: 10px;
}

.company-img {
    height: 450px;
    width: 100%;
    overflow: hidden;
    /*border: 1px solid #00c0ff;*/
    border-radius: 20px;
}

.company-img img {
    width: 100%;
    height: 100%;
    /* object-fit: cover;*/
}

.letter-items.a {
    border-top: 1px solid #DEDCD5;
    border-radius: 10px 10px 0px 0;
}

.letter-items.b {
    border-bottom: 1px solid #DEDCD5;
    border-radius: 0px 0px 10px 10px;
}

#register-modal .pop-up-container {
    width: 100%;
    max-width: 750px;
    font-family: 'SofiaPro-regular';
}

#register-modal {
    height: 100vh;
    overflow: auto;
}

#register-modal .pop-up-content {
    transform: translate(-50%, 0);
    top: 0;
    left: 50%;
    margin: 20px 0;
}

#register-modal h2 {
    text-align: center;
    margin-bottom: 8px;
}

#register-modal h4 {
    font-size: 17px;
    margin-bottom: 20px;
}

#register-modal ul {
    list-style: none;
}

#register-modal li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 14px;
}

#register-modal li span {
    margin-right: 10px;
    min-width: 30px;
    display: block;
    width: 30px;
}

#register-modal p {
    margin-bottom: 20px;
    cursor: pointer;
    user-select: none;
}

.agree-here {
    position: relative;
}

.agree-here input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
}

.agree-here p {
    position: relative;
    padding-left: 30px;
}

.agree-here p::before {
    content: '';
    width: 15px;
    height: 15px;
    border: 1px solid #000;
    position: absolute;
    left: 0;
    top: 3px;
    border-radius: 4px;
}

.agree-here p::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 5px;
    width: 4px;
    height: 9px;
    border: 2px solid #fff;
    transform: rotate(45deg);
    border-top: 0;
    border-left: 0;
}

.agree-here input:checked+p::before {
    background-color: #00c0ff;
    border-color: #00c0ff;
}

button.w-50 {
    width: 50%;
    display: inline-block;
}

.btn-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-wrap button {
    width: calc(50% - 10px);
    margin: 0;
}

/*    Privacy wrapper    */

#terms-wrapper {
    position: relative;
    width: 100%;
    padding: 150px 0;
    height: 100%;
    background-color: #fdfbf3;
}

.terms-container {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding: 0 50px;
}

.terms-container p {
    color: #0C1823;
    font-family: 'SofiaPro-light';
    font-size: 1rem;
    line-height: 1.75rem;
    padding-bottom: 0.5rem;
}

.terms-container h2 {
    font-family: 'SofiaPro-light';
    font-weight: normal;
    color: #0C1823;
    font-size: 1.75rem;
    line-height: 1.5rem;
    padding-bottom: 1rem;
    font-style: normal;
}

.terms-container h4 {
    font-family: 'SofiaPro-light';
    font-weight: normal;
    color: #0C1823;
    font-size: 1.35rem;
    line-height: 2.25rem;
    padding-bottom: 0rem;
    font-style: normal;
}

.terms-container p.inner {
    margin-left: 30px;
}

.verify-sec {
    margin: 150px auto 30px;
    max-width: 1440px;
    padding: 0 40px;
}

.verify-sec .card-header {
    font-size: 22px;
    font-family: 'SofiaPro-light';
    font-weight: 600;
    margin-bottom: 20px;
}

.verify-sec .card-body {
    font-family: 'SofiaPro-light';
    font-size: 17px;
}

.verify-sec .btn {
    padding: 14px 22px;
    border-radius: 40px;
    border: none;
    color: #fff;
    margin-top: 20px;
    background-color: #00c0ff;
}

.verify-sec .card {
    width: 100%;
    text-align: center;
}

.stripe-option h4 {
    font-family: 'SofiaPro-light';
}

.logout-btn {
    display: none;
}

.contact-form {
    margin: 0 -10px;
    display: flex;
    flex-wrap: wrap;
}

.contact-form .w-50 {
    width: calc(50% - 20px);
    margin: 0 10px;
}

.contact-form .w-50 input {
    width: 100%;
}

.contact-form .w-100 {
    width: calc(100% - 20px);
    margin: 0 10px;
}

.invalid-feedback {
    margin-top: -25px;
    display: block;
    margin-left: 20px;
    color: red;
}

.m-block {
    display: none;
}
